[2017-10-24 20:47] hterrence opened #1 "Raiden Network - Due diligence"
Company's website: https://raiden.network/

[2017-10-24 20:49] hterrence opened #2 "Token Desk - Due diligence"
Company's website: https://www.tokendesk.io

[2017-10-24 20:49] hterrence opened #3 "NapoleonX - Due diligence"
Company's website: https://www.napoleonx.ai/

[2017-10-24 20:49] hterrence opened #4 "Spectre - Due diligence"
Company's website: https://spectre.ai/

[2017-11-13 14:18] icochecker commented on #1
## Company
[Brainbot Labs Establishment](https://brainbot.li/)
Lettstrasse 12
FL-9490 Vaduz
Liechtenstein

**Incorporated on:** 13 September 2017
**Authorized to sign documents:** Florian Tobias Glatz (Maybe related to: [http://blockchain.lawyer/](http://blockchain.lawyer/))

#### Addtional company info for Brainbot Labs Establishment:
- [http://www.firmensuche.li/htm/647/de/Firmendaten-Brainbot-L

[2017-11-15 22:25] icochecker commented on #2
# TokenDesk

## Team
[Tomas Mickauskas](https://www.linkedin.com/in/tomas-mičkauskas-17238b7b/) - Tokendesk advisor was involved in a charity scam.
#### Source:
- https://www.civilsociety.co.uk/news/high-court-closes-three-companies-involved-in-air-ambulance-collections-scam.html
- https://beta.companieshouse.gov.uk/company/07308919
- https://beta.companieshouse.gov.uk/company/07308919/officers
-

[2017-11-16 00:10] icochecker commented on #3
# Napoleon (NPX)

## Company
[Napoleon Capital](https://www.infogreffe.com/entreprise-societe/824566814-napoleon-capital-780117B030350000.html)
73 Rue Léon Bourgeois
91120 Palaiseau

**Incorporated on:** 27 July 2017
#### Director:
- Stephane IFRAH
- Arnaud DARTOIS

## Github
- [Repository](https://github.com/ProjectNapoleonX)

## Smart contract
- [Contract on github](https://github.com/ProjectNap

[2017-11-16 04:37] icochecker commented on #4
# Spectre (SXD)

## Company
[SPECTRE DEVELOPMENT LIMITED](https://brainbot.li/)
19 Waterfront Drive
Road Town VG1110
Tortolla
BVI
**Registration Number:** 1952564

### Linked to:
- [Neuchâtel Partners](http://www.neuchatelpartners.com/contact), Akropoleos, 66 Akropoleos Tower,Flat/Office 10 Strovolos,2012, Nicosia, Cyprus

- [NEUCHATEL LTD](https://beta.companieshouse.gov.uk/company/08245873), St

[2017-11-16 04:48] icochecker opened #5 "Quantstamp - Due diligence"
# [Quantstamp](https://quantstamp.com/) (QSP)

## Company
[Quantstamp, INC.](https://icis.corp.delaware.gov/Ecorp/EntitySearch/NameSearch.aspx)
**File Number:** 6593684
**Incorporation Date / Formation Date:** 10/26/2017
**Entity Kind:** Corporation
**Entity Type:** General
**Residency:** Domestic
**State:** DELAWARE

![quantstamp-company-info-2](https://user-images.githubusercontent.com/32852887/

[2017-11-17 13:48] icochecker opened #6 "Tokenbox - Due diligence"
# [Tokenbox](https://tokenbox.io/) (TBX)

## Company
Tokenbox
Cayman Islands

**Authorisation Code:** 159745460695
**Entity File Number:** AD-327407

[Cayman Islands Online General Registry](https://www.registry.gov.ky/verify/)

## Github
- [Zerion](https://github.com/zeriontech/)

## Product
- No product

![no-mvp](https://user-images.githubusercontent.com/32852887/32950851-2c22b288-cba8-11e7-98e

[2017-11-17 15:49] icochecker opened #7 "Naga Group - Due diligence"
# [Nagaico](https://www.nagaico.com/) (NGC)

## Company
### [The Naga Group AG](https://thenagagroup.com/)
Herrengraben 31
Hamburg 20459
Germany

- listed on the [Frankfurt Stock Exchange](https://finance.google.com/finance?q=ETR:N4G) on July 10th 2017
- ISIN: DE000A161NR7

[German company register](https://www.unternehmensregister.de/ureg/?submitaction=language&language=en)

### Company used for

[2017-11-18 16:22] icochecker opened #8 "SpitCoin - Due diligence"
# SpitCoin (SOF)

## Website
- [http://spit-token.atwebpages.com/](http://spit-token.atwebpages.com/)
- No domain name
- Uses [http://atwebpages.com/](http://atwebpages.com/) for free hosting and free sub domain (spit-token)

## Team
- No team
- Anonymous

## Company
- No company

## Github
- No Github

## Product
- No product

## Smart contract
- Asks to send eth this wallet address: ```0x21fA1F9

[2017-11-18 22:37] biggandalf commented on #4
This company does not seem to be legally compliant. They are likely considered an ATS an Alternative Trading System and need a license for it. The dividend token is also problematic

[2017-11-18 22:38] biggandalf commented on #4
They also blocked me after inquiring about these issues. Doesn't reflect way.

[2017-11-18 22:39] biggandalf commented on #4
They also blocked me after inquiring about these issues. Doesn't reflect well.

[2017-11-19 20:09] icochecker opened #9 "LockChain - Due diligence"
# LockChain (SXD)

## Company
[LockChain](https://lockchain.co/)
Korab Planina 27a
3rd fl
1407 Sofia
Bulgaria
**UIC:** 204752244
**Managers:** Nikola Velichkov Alexandrov

- [Bulgaria company registry](https://public.brra.bg/CheckUps/Verifications/ActiveCondition.ra?guid=0be4f9f59d5c4e058dbae7047a4fcef8)

![company](https://user-images.githubusercontent.com/32852887/32994938-e03b4548-cd6d-11e7-8e0

[2017-11-24 21:07] icochecker opened #10 "Crypterium - Due diligence"
# [Crypterium](https://crypterium.io/) (CRPT)

## Team
- Gleb Markov (COO, Co-founder) - Mar 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/gdmarkov/)
- Steven Polyak (Managing Director, Co-founder) - Mar 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/steven-polyak-4443872/)
- Vladimir Gorbunov (CCO, Co-founder) - Jan 2017 - Present | [Linkedin profile](https://ww

[2017-11-25 03:47] icochecker opened #11 "indaHash - Due diligence"
# [indaHash](https://indahash.com/) (IDH)

## Team
- Barbara Boguslawa Soltysinska (Co-founder & CEO) - Jan 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/barbarasoltysinska/) | [Instagram](https://www.instagram.com/basia_soltysinska/) | [Twitter](https://twitter.com/bsoltysinska) | **DOB:** June 1987
- Dariusz Zieliński (COO) - May 2017 - Present | [Linkedin profile](https://www.

[2017-11-29 03:40] icochecker opened #12 "GoNetwork - Due diligence"
# [GoNetwork](https://gonetwork.co/) (GOT)

## Team
- Rashid Khan (Co-founder & CEO) - Jan 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/infinidy/)
- Xun Cai (Co-founder & COO) - Jan 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/xun-cai-297a5923/)
- Amit Shah (CTO) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/amit-shah-97a03038/)
- Miao

[2017-12-01 03:29] prateekjassal commented on #12
I was kicked from their Telegram group the moment I wrote the word scammy with a question mark. I am off this scam. Thanks for alterting.

[2017-12-01 04:35] gonetwork-admin commented on #12
For people asking about our Company registration. We had previously thought to conduct the ICO under Infinidy.  After consulting with our advisors, we have decided to setup a new company to do the ICO and to provide some of the services required to build out the platform.  While we are still working through the legalities and tax considerations, we have setup a new company, being GoNetwork Canada

[2017-12-01 04:39] gonetwork-admin commented on #12
All the team and advisor tokens will be locked and vested over a period of time. Once our smart contract is live you can see it.

[2017-12-01 04:40] gonetwork-admin commented on #12
Please read our latest blog post here https://medium.com/@gonetwork/gonetwork-telegram-now-has-over-12k-members-thank-you-we-have-some-updates-for-you-bed31402493

[2017-12-01 05:13] gonetwork-admin commented on #12
In addition to all this we did a security audit and found Xun Cai's email to have been compromised earlier. We have changed all our passwords and 2FAuths.

You can do to https://haveibeenpwned.com/ and search cai@infinidy.ca the results says

Breaches you were pwned in
A "breach" is an incident where a site's data has been illegally accessed by hackers and then released publicly. Review the types

[2017-12-01 05:46] gonetwork-admin commented on #12
Why it’s obvious a Hacker or Scammer:

Until this point, we have never accepted any money and we have never accepted any deal!

1. We don’t ask for money in telegram, especially people we don’t know. We even said that in our telegram group many times.

2. Biggest problem here: He asked for 700K - 1M which is crazy for a stranger.

3. As you know, we DON’T ask for money but only ETH and BTC for any

[2017-12-01 06:22] gulfcoin commented on #12
@icochecker I see the gonetwork-admin is trying hard to convince that they are very legit.
Well, I am also reluctant on investing or even flipping in this ico as I know this gonetwork project from August 2017 being one of the early investors in Kickico. This was among the first ico proposal submitted on Kickico platform. And boy, they have entirely changed up their ico objectives, polished their r

[2017-12-01 11:16] antisoul163 commented on #12
![image](https://user-images.githubusercontent.com/20504493/33480548-f53688ce-d6cb-11e7-81f5-66bf964df7e1.png)
This is your first time submitting project name?

[2017-12-01 11:33] voldemarz commented on #12
@gonetwork-admin How is email hack related to Telegram? Sign-up there is via mobile phone number + SMS code, sign-in on new device via code to other authorized Telegram device. No email involved.

[2017-12-01 12:16] gulfcoin commented on #12
Cant even give proper lies. such noobs,  throw some tokens at professors, make them advisors, get the shill master to shill your ico. End of ico era. sigh.... SEC please help the crypto sheeps

[2017-12-01 15:56] Bluecrypt commented on #12
Gonetwork have banned me today from their telegram channel for asking legitimate questions.
I have not been first one, they ban, and not the last one I guess.

![image](https://user-images.githubusercontent.com/34165335/33489316-d7c0605c-d6b3-11e7-9c03-f526caf79fe4.png)

![image](https://user-images.githubusercontent.com/34165335/33489510-56c9eae4-d6b4-11e7-9edd-1e5a1e36acdd.png)

The answers that

[2017-12-01 17:11] prateekjassal commented on #12
@gonetwork-admin - You need a lesson in being a group admin. I haven't seen such an intolerant admin before. I will happily NOT invest in this ICO based on just your behaviour. I know you have a lot of people in your Telegram group but you should probably learn to be humble and act with some reasoning instead of kicking people just for fun.

[2017-12-01 17:12] prateekjassal commented on #12
@gonetwork-admin - You need a lesson in being a group admin. I haven't seen such an intolerant admin before. I will happily NOT invest in this ICO based on just your behaviour. I know you have a lot of people in your Telegram group but you should probably learn to be humble and act with some reasoning instead of kicking people just for fun.

[2017-12-02 05:10] gulfcoin commented on #12
Balina is finished when people realize Go Network is a scam.

[2017-12-02 12:22] gulfcoin commented on #12
Website traffic search:
infinidy.ca
Daily Visitors: 4
Social Networks: Likes 90

gonetwork.co
Daily Visitors: 4,176
Social Networks: Likes 147

No comments from me required on this

[2017-12-04 22:54] icochecker opened #13 "Potentiam - Due diligence"
# [Potentiam](https://www.potentiam.io) (PTM)

## Team
- Marcus O Adetola (Co-founder & CEO) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/marcusadetola/) | **Location:** London, United Kingdom
- Ben Balogun (Co-founder & COO) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/ben-balogun-986a4b144/) | **Location:** London, United Kingdom
- Ali Zain (CTO) | [Link

[2017-12-07 21:08] pwliwanow opened #14 "Jibrel Network - Due diligence"
Company's website: https://jibrel.network

[2017-12-07 21:09] pwliwanow opened #15 "INS - Due diligence"
Company's website: https://ins.world/

[2017-12-08 06:21] icochecker opened #16 "Cryptex Network - Due diligence"
# [Cryptex Network](http://cryptex.network) (SCAM)

## Team
No team

## Company
No company

## Smart contract
No Smart contract

## Github
No Github

## Product
No Product

## Vesting
No Vesting

## Additional info
[code]

[2017-12-09 16:23] icochecker commented on #14
# [Jibrel Network](https://jibrel.network/) (JNT)

## Team
- Yazan Barghuthi (Co-founder & Project Lead) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/yazanbarghuthi/)
- Victor Mezrin (Co-founder & Technical Lead) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/victor-mezrin-aa823634/)
- Talal Tabbaa (Co-founder & BizDev Lead) - 2017 - Present | [Linkedin prof

[2017-12-10 03:45] icochecker opened #17 "Share Estate - Due diligence"
# [Share Estate](https://sharestate.io) (SCAM)

## Team
No team

## Company
No company

## Smart contract
- [Deployed - View on etherscan](https://etherscan.io/address/0x4E7A34C6C29A4741858A7Ec5622CD8be21b0351b)

## Github
No Github

## Product
No Product

## Vesting
No Vesting

## Additional info
- [Blog post](https://medium.com/@sharestate/share-estate-user-manual-38f5b43dc3ee)

[code]

[2017-12-10 03:47] icochecker opened #18 "StayAllied - Due diligence"
# [StayAllied](http://www.stayallied.com/) (STA)

## Team
No team

## Company
No company

## Smart contract
No contract

## Github
- [StayAllied](https://github.com/StayAllied/)

## Product
No Product

## Vesting
No Vesting

## Additional info

[code]

[2017-12-11 00:17] icochecker commented on #15
# [INS](https://ins.world/)

## Team
- Peter Fedchenkov (Co-founder) - May 2017 - Present | [LinkedIn profile](https://www.linkedin.com/in/pfedchenkov/)
- Dmitry Zhulin (Co-founder) - May 2017 - Present | [LinkedIn profile](https://www.linkedin.com/in/dmitryzhulin/)
- Dmitry Khovratovich (Blockchain & Smart Contracts) - Sep 2017 - Present | [LinkedIn profile](https://www.linkedin.com/in/khovratovi

[2017-12-11 03:29] icochecker opened #19 "FoodCoin - Due diligence"
# [FoodCoin](https://www.foodcoin.io)

## Team
- Gregory Arzumanian | [Facebook](https://www.facebook.com/gregory.arzumanian) **No Linkedin**
- Sergey Grigoryan | [LinkedIn profile](https://www.linkedin.com/in/sergey-grigoryan-27b0625/)
- Konstantin Maratayev | [Facebook](https://www.facebook.com/dracul.aid) **No Linkedin**
- Anna Maslova | [Facebook](https://www.facebook.com/profile.php?id=100007

[2017-12-11 05:54] icochecker opened #20 "Bounty0x - Due diligence"
# [Bounty0x](https://bounty0x.io/) (STX)

## Team
- Angelo Adam | [Linkedin profile](https://www.linkedin.com/in/angelo-adam-8999045a/) **does not mention bounty0x** | [Github](https://github.com/angeloadam)
- Pascal Thellmann (Co-founder) - Jun 2017 - Present [Linkedin profile](https://www.linkedin.com/in/pascalthellmann/) | [Github](https://github.com/pascalthellmann)
- Deniz Dalkilic (Co-founde

[2017-12-14 20:46] icochecker opened #21 "Bread - Due diligence"
# [Bread](https://token.breadapp.com/en/) (BRD)

## Team
### Executive Team
- Adam Traidman (Co-founder & CEO) - Oct 2014 - Present | [Linkedin profile](https://www.linkedin.com/in/adamtraidman/)
- Aaron Voisine (Co-founder & President) - 2013 - Present [Linkedin profile](https://www.linkedin.com/in/aaronvoisine/) | [Github](https://github.com/voisine)
- Aaron Lasher (Co-founder & CMO) - Apr 2017

[2017-12-16 01:05] icochecker opened #22 "Bluzelle - Due diligence"
# [Bluzelle](https://bluzelle.com/) (BLZ)

## Team
- Pavel Bains (CEO) - Sep 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/pavelbains/)
- Neeraj Murarka (CTO) - Jul 2014 - Present | [Linkedin profile](https://www.linkedin.com/in/njmurarka/)
- Nitin Cunha (Senior Developer) - Oct 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/nitincunha/)  **mentions System Analys

[2017-12-17 22:30] agentbutlr commented on #12
As scammy as it gets. Pieces of shit team. No wonder they paid Balina to shill this. Balina throwing his viewers to the dog for a few quids. Motherfuckers galore.

[2017-12-17 22:32] agentbutlr commented on #20
Why is there a warning label for this one. Just trying to understand the labelling system.

[2017-12-17 22:33] agentbutlr commented on #21
Another money grab!

[2017-12-18 00:45] icochecker commented on #20
It does not meet [icocheck.io](https://icocheck.io) requirements.

![icocheck-checkmark](https://user-images.githubusercontent.com/32852887/34085743-22f7d18e-e395-11e7-9ed4-21dac344f367.png)
![icocheck-fields](https://user-images.githubusercontent.com/32852887/34085745-24e27f44-e395-11e7-8487-d30a7679dfc0.png)

If one field has an "x mark", issue will have a warning label

Team tokens vesting sche

[2017-12-18 02:15] icochecker opened #23 "SALPay - Due diligence"
# [SALPay](https://ico.salpay.com/) (SAL)

# 1st Jan 2019: Issue will be updated soon!

## Team
- Judah Z Hirsch (Founder & CEO) - Jan 2013 - Present | [Linkedin profile](https://www.linkedin.com/in/judah-z-hirsch-13723517/)
- Russell Shepherd (CTO) - Oct 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/russell-shepherd-a9350116/)
- Eduardo Gutiérrez (Communications Director) - Nov

[2017-12-18 22:46] icochecker opened #24 "Holo - Due diligence"
# [Holo](https://holo.host/)

## Team

## Company

## Smart contract

## Github

## Product

## Vesting

## Additional info

[2017-12-25 02:40] icochecker opened #25 "Nucleus Vision - Due diligence"
# [Nucleus Vision](https://nucleus.vision)

## Team

## Company

## Smart contract

## Github

## Product

## Vesting

## Additional info

[2017-12-29 04:02] icochecker opened #26 "Liminality - Due diligence"
# [Liminality](https://liminality.network) (LMN)

## Team
- Sidney Sissaoui (Founder and CEO) - Dec 2017 - Present | [Linkedin profile](https://fr.linkedin.com/in/sidneysissaoui) **blockchain experience??**
- Cyril Kato (Core Developer) - Jun 2017 - Dec 2017 | [Linkedin profile](https://fr.linkedin.com/in/cyrilllllll) **blockchain experience??**
- Christian Peka (Community Manager) | **No Linkedin

[2017-12-30 23:53] c0mm0n commented on #25
Hi, What's the censorship flag about NV?

Btw, thanks for your work!

[2017-12-31 14:34] icochecker commented on #25
@c0mm0n They banned users for asking legitimate questions and deleted them.

[2018-01-02 15:25] ra127 commented on #25
excellent work! bookmarking https://icocheck.io/ !

[2018-01-02 23:14] dshuang opened #27 "Cypherium - Due diligence"
# [Cypherium](https://www.cypherium.io) (CPH)

## Team
- Sky Guo (Founder) - Oct 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/sky-guo-b9432574/) **To verify**
- Nate Ren (Co-Founder) - Jan 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/nate-ren-32414a14/) **To verify**
- 张昊翀 Solomon Zhang (Co-Founder) - Oct 2016 - Present | [Linkedin profile](https://www.linkedi

[2018-01-03 01:17] iy310 commented on #12
Yeah I found out about this ICO through Ian Balina too, but glad I saw this before I put in any money... Lesson learned: always gotta do your own research!

[2018-01-04 17:42] nithyaasworld opened #28 "Pundi X - Due diligence"
# [Pundi X](https://pundix.com/) (PXS)

## Team
- Zi Bin (Zac) Cheah (Co-founder & CEO) - Oct 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/zibin/)
- Pitt Huang (Co-founder & CTO/COO) - Dec 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/pitt-huang-086591b/)
- Danny Lim (Co-founder & CFO) - Oct 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/wei-xi

[2018-01-04 21:00] mhingston opened #29 "Loomia - Due diligence"
# [Loomia](https://loomia.com/token) (TILE)

## Team
- Janett Liriano (CEO) - Mar 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/janett-liriano-39241a56/)
- Ezgi Ucar (Director of Product Development) - Mar 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/ezgi-ucar/)
- Marco Paúl (VP of Operations & Supply Chain) - Avr 2017 - Present | [Linkedin profile](https://www

[2018-01-05 11:05] Aza1 commented on #29
Love your work guys!

[2018-01-07 03:09] #1 closed

[2018-01-08 17:46] swiebertje commented on #25
Reddit post linking to this seems to be removed:
https://www.reddit.com/r/NucleusVision/comments/7oqkxj/doubts_about_nucleus_vision/

[2018-01-08 20:34] icochecker commented on #25
@swiebertje Interesting :thinking_face:

[2018-01-09 18:11] alexanderisora commented on #20
Hello.

What is "vesting" and "cliff" and what are the most common/best practices for making it?

Thanks.

[2018-01-09 21:23] #5 closed

[2018-01-09 21:25] #6 closed

[2018-01-10 13:06] MrNicodemuz commented on #10
@icochecker possible to add info about team members?

[2018-01-10 13:39] aericom opened #30 "Thekey - Due diligence"
# [Thekey](https://www.thekey.vip) (TKY)

## Team
- Catherine Xueli Li (CEO) - Jul 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/catherine-xueli-li-a50801150) **only has 12 connections**
- Ken Huang (President, Identity Verification & Blockchain) | [Linkedin profile](https://www.linkedin.com/chatin/wnc/in/kenhuang8) **does not mention TheKey**
- Jian Wang (CBO) - Jul 2017 - Prese

[2018-01-10 13:43] aericom commented on #30
Company website : https://www.thekey.vip/

[2018-01-10 22:50] icochecker commented on #20
@alexanderisora
**Vesting schedule = Token lock**
Example team tokens locked for X years. Team can't sell all their tokens before X years.
- This prevents Teams from dumping their tokens.
- It's the incentive for them to work

1 year cliff. Means that tokens won't vest during the 1st year. If a team member leaves before the 1st year he gets nothing

If you have more questions you can also find us

[2018-01-11 01:31] MrNicodemuz commented on #30
Many (if not all) of the team members still seem to be also working ("present") for their previous companies according to their LinkedIn profiles. Some do not even indicate to be working at TheKey. This could be seen as a slight red flag.

[2018-01-11 01:33] MrNicodemuz opened #31 "Colu - Due diligence"
# [Colu](https://cln.network/) (CLN)

## Team
- Amos Meiri (Co-founder & CEO) - Dec 2014 - Present | [Linkedin profile](https://www.linkedin.com/in/amos-meiri-23002945/)
- Mark Smargon (Co-founder & VP of Blockchain) - 2014 - Present | [Linkedin profile](https://www.linkedin.com/in/marksmargon/)
- David Ring (Co-founder & VP Finance) - Oct 2016 - Present | [Linkedin profile](https://www.linkedin.c

[2018-01-11 01:34] MrNicodemuz commented on #31
Token sale website: https://cln.colu.com/

[2018-01-11 04:34] alexanderisora commented on #20
Thanks for the great explanation @icochecker 👍

[2018-01-11 04:49] MrNicodemuz opened #32 "Centra - Background check"
# [Centra](https://www.centra.tech/) (CTR)

## Team
- Sam Sharma (Co-founder) - May 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/sam-sharma-655392143/) | **Resigned from Centra Tech**
- Raymond Trapani (Co-founder) - Dec 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/raymond-trapani-676535148/) | **Resigned from Centra Tech**
- William Hagner (President) - Jan 2

[2018-01-11 11:42] icochecker opened #33 "CoinFi - Due diligence"
# [Coinfi](https://sale.coinfi.com/) (COFI)

## Team
- Timothy Tam (Co-Founder) - Sep 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/ttam-0190212/)
- Han Chang (Co-Founder) - Sep 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/hanchang0/)
- Nate Tsang (Co-Founder) | [Linkedin profile](https://www.linkedin.com/in/nate-tsang-3a493a153/)
- Glen Thomson (Community Mana

[2018-01-11 12:34] #9 closed

[2018-01-11 12:34] #8 closed

[2018-01-11 12:35] #18 closed

[2018-01-11 12:35] #17 closed

[2018-01-11 12:35] #16 closed

[2018-01-11 12:44] icochecker opened #34 "Republic Protocol - Due diligence"
# [Republic Protocol](https://republicprotocol.com) (REN)

## Team
- Taiyang Zhang (CEO) - Jul 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/taiyangzhang/)
- Loong Wang (CTO) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/loong-wang-543855150/)
- Noah Ingham (Blockchain Dev) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/noahingham/)

[2018-01-11 14:53] nithyaasworld opened #35 "Storiqa - Due Diligence"
# [Storiqa](https://crowdsale.storiqa.com/)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

##

[2018-01-11 17:43] nithyaasworld commented on #35
Not interested after looking at the below message from Storiqa's admin.

Thanks Peter for all your work! They are all very helpful.

![image](https://user-images.githubusercontent.com/5114190/34838654-f7a4c282-f724-11e7-91ff-fa2d2ad233f5.png)

[2018-01-11 21:53] imknapik opened #36 "Gatcoin - Due diligence"
# [Gatcoin](https://www.gatcoin.io/)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

## Produc

[2018-01-12 10:54] icochecker opened #37 "ArcBlock - Due diligence"
# [ArcBlock](https://www.arcblock.io/)

## Team
- Robert Mao (Ceo/) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/robertmao)
- Flavien Charlon (Chief Scientist) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/flaviencharlon)
- Jean Chen (VP of Marketing) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/jeancheninchina)

## Team members wit

[2018-01-12 11:37] icochecker opened #38 "Giza Device - Due diligence | EXIT SCAM"
# [Giza Device](https://web.archive.org/web/20180130165054/https://gizadevice.com/) (GIZA)

## 🔥👉👉 Join the ---> [Giza-Rescue Telegram group](https://t.me/joinchat/EfZurEa5o6LIQbqWgQiffg) 👈👈🔥
## Team
- Marco Fike (COO) - Sep 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/marcofike/) | **No proof that he exist**
- Ivan Larionov (Senior Project Manager) - Dec 2017 - Present | [Linke

[2018-01-13 11:58] bk20192018 commented on #28
why red flag?

[2018-01-13 13:45] icochecker commented on #28
@bk20192018 Vesting schedule (Token lock) for Team and Advisors tokens is less than 2 years.
ICO check requires +2 years

[2018-01-13 13:48] icochecker commented on #10
@MrNicodemuz will do 🙂

[2018-01-13 14:25] icochecker commented on #35
@nithyaasworld I closed the issue by mistake. I will add all info soon 🙂

[2018-01-14 19:52] edxz opened #39 "WePower - Due diligence"
# [WePower](https://wepower.network/) (WPR)

## Team
- Nikolaj Martyniuk (Co-Founder, Energy) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/nikolaj-martyniuk-7b007a9/)
- Artūras Asakavičius (Co-Founder, Investments) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/arturasasakavicius/)
- Kaspar Kaarlep (CTO, Energy) - Oct 2017 - Present | [Linkedin profile](

[2018-01-14 22:44] wolvesland commented on #30
SSL certificate of the webpage is for the domains `app.gotrips.net` and `www.app.gotrips.net` hours before the ICO thus throwing `SSL_ERROR_BAD_CERT_DOMAIN` erros.

[2018-01-15 07:58] icochecker opened #40 "Digitex - Due diligence"
# [Digitex](https://digitexfutures.com/) (DGTX)

## Team
- Adam Todd (Founder & CEO) | [Linkedin profile](https://www.linkedin.com/in/adam-todd-digitex/)
- Mickael Salabi (CFO) | [Linkedin profile](https://www.linkedin.com/in/mickaelsalabi/) **does not mention Digitex** | **No CFO experience** | **Dev to CFO?**
- Yuri Hideaki (Ethereum Developer) | [Linkedin profile](https://www.linkedin.com/in/yu

[2018-01-15 18:42] loul42 commented on #3
Hi,

What are the multiple red flags ?

Thanks

[2018-01-16 00:44] yboz opened #41 "Mobius - Due diligence"
# [Mobius](https://mobius.network/) (MOBI)

## Team
- David S. Gobaud (Co-founder & CEO) - Jun 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/davidgobaud/)
- Cyrus Khajvandi (Co-founder & COO) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/khajvandi/)
- Monis Rahman (Head Research Scientist) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/m

[2018-01-16 11:00] icochecker commented on #3
@loul42 I just updated the issue. (Last update 16 Nov 2017).
Red flags:
- 6 month Vesting schedule for Founders tokens. (Founders could sell their tokens 6 month after the ICO)
- No working product but a demo
- Team members listed on their website but Linkedin says otherwise. (See screenshots above)

[2018-01-16 12:29] icochecker commented on #10
@MrNicodemuz Team info added 🙂

[2018-01-17 03:04] jetofisher commented on #12
Have they picked up their game or still being sketchy? What made Ian Balina decide to be an adviser for these guys if they're dodgy? Something is amiss!

[2018-01-17 08:39] Zaozaopublic commented on #12
Don't get me wrong, basically, it's a bunch of school kids who won a hackhathon and decide to launch an ICO. They were not prepared at any level. There is no transparency, no plan just a bunch of clueless people. I wonder how they chose their advisors, at least one of them adds absolutely no value.
P.S. - In the beginning they were using a photo where they had Vitalik with them who was visiting UW

[2018-01-18 21:21] virtari commented on #28
Why did they need more money because according to news they already raised 266k ETH in October. Or sid i miss something here? https://medium.com/pundix/blockchain-retail-startup-pundi-x-raises-over-usd-4-million-to-successfully-complete-pre-sale-ico-5389d93ccb16

[2018-01-19 22:03] yboz commented on #34
I'm not 100% sure about the details but it looks like RP did part ways with some early investors (I would really like to know why). This does not necessarily have to be a bad thing but the investors transfered ETH to RP when ETH was ~1300$ and should have gotten a certain amount of RP's tokens for it. Now they just got ETH back @1000$. It does not seem like RP is really the guilty party here but I

[2018-01-20 00:50] EzimetYusup commented on #25
their github repo is garbage!

[2018-01-20 04:54] iEKOS commented on #12
Hello guys,

Here is a quick convo I had with an admin:

https://steemit.com/gonetwork/@iekos/gonetwork-ico-yay-or-nay

[2018-01-20 08:07] gulfcoin commented on #12
I never mentioned that Gonetwork is investor in Kickico or kickico is an investor in Gonetwork. I said that i know of this team because they submitted their project for fund raising on kickico platform. And i (myself) was one of the early investors in kickico. Their objective earlier was stated as "disrupting trillion dollar mobile and virtual goods economy".

[2018-01-20 08:10] gulfcoin commented on #12
If your research is based on chat with temporary telegram group admins then i wish you good luck on your investment

[2018-01-20 17:25] iEKOS commented on #12
Hey, listen, you seem really annoyed @gulfcoin and that is definitely justified. Noone is pointing fingers at you at all and appreciate your input. And no, I posted the chat just to be a part of the investigation and show my findings. So chill out as we are on your side.

[2018-01-20 18:56] yboz opened #42 "Blockport - Background check"
# [Blockport](https://blockport.io/)

## Core Team
- Sebastiaan Lichter (Co-founder) - May 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/sebastiaanlichter/)
- Kai Kaïn Bennink (Co-founder) - May 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/kaibennink/)
- Zowie Langdon (CTO) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/zowielangdon/)
- S

[2018-01-20 19:01] royalgarter opened #43 "Dadi - Background check"
# [Dadi](dadi.tech)

## Team
[Joseph Denne](https://www.linkedin.com/in/josephdenne/)
The visionary behind DADI’s decentralized architecture and web services.
He is an expert in multi-agent and blockchain technologies as well as big data and machine learning. He was responsible for Symphony CMS and has 20+ years experience developing data and content platforms.
Joseph was previously Group Technica

[2018-01-20 21:59] vmiroshnik commented on #43
![image](https://user-images.githubusercontent.com/12794805/35188439-fcc3db2a-fe3d-11e7-9860-0831990d55e1.png)

[2018-01-20 22:14] #19 closed

[2018-01-20 22:14] #15 closed

[2018-01-20 22:14] #14 closed

[2018-01-20 22:15] #21 closed

[2018-01-20 22:17] #2 closed

[2018-01-20 22:18] #4 closed

[2018-01-20 23:42] pantherleopard opened #44 "Fabric"
# [Company name](company website)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

## Product
*

[2018-01-21 00:42] icochecker opened #45 "FundRequest - Due diligence"
# [FundRequest](https://register.fundrequest.io/) (FND)

## Team
- Karel Striegel (Founder & CEO) - Sep 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/karelstriegel/) | [Twitter](https://twitter.com/TheCharliez) | [Github](https://github.com/karelstriegel)
- Davy Van roy (Co-founder & CTO) - Mar 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/davyvanroy/) | [Twitte

[2018-01-21 00:43] #20 closed

[2018-01-21 00:44] #7 closed

[2018-01-21 00:44] #11 closed

[2018-01-21 00:44] #10 closed

[2018-01-21 00:45] #26 closed

[2018-01-21 04:50] #44 closed

[2018-01-21 16:13] icochecker opened #46 "CargoX - Due diligence"
# [CargoX](https://cargox.io/) (CXO)

## Team
- Stefan Kukman (Founder & CEO) - Nov 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/stefan-kukman-50294a22)
- Primoz Kopac (COO) - Oct 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/primo%C5%BE-kopa%C4%8D-1057941a)
- Primoz Mavsar (Designer) - Oct 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/primoz-

[2018-01-22 18:35] HomeY commented on #43
The following DADI companies will be Token Issuing Entities for the Private sale and Crowdsale:
DADI Tech Limited (a company limited by shares registered in England and Wales [Company No: 11159551])
DADI Cloud Limited (a company limited by guarantee registered in England and Wales [Company No: 11159550])

![image](https://user-images.githubusercontent.com/1996332/35237521-382bf22e-ffab-11e7-97b3-2

[2018-01-22 18:36] HomeY commented on #43
![image](https://user-images.githubusercontent.com/1996332/35237615-7f9f13f2-ffab-11e7-9bfb-a289684c119b.png)

[2018-01-23 12:31] coinbala commented on #3
I put 0.5 ETH should I take it out?

[2018-01-23 12:50] coinbala opened #47 "Restart Energy"
# [Restart Energy](https://restartenergy.io/)

## Team
Armand Doru | https://www.linkedin.com/in/armand-doru-domuta-31994123/
Renato Doicaru | https://www.linkedin.com/in/renato-doicaru-51b96955/
Cristian Bogdan | https://www.linkedin.com/in/cristian-bogdan-14b82638/
Andrei Avram | https://www.linkedin.com/in/avramandrei/

## Company
https://restartenergy.ro/en/

## Smart contract
*Here put e.g. l

[2018-01-23 12:57] coinbala opened #48 "Minerva"
# [Minerva](https://minerva.com/)

## Team
Kevin McSheehan | https://www.linkedin.com/in/kevinmcsheehan/
Corey Jackson | https://www.linkedin.com/in/corey-jackson-76b33521/
Col Stufahj | https://www.linkedin.com/in/kolshtufaj/

## Company
https://www.editus.lu/lu/minerva-technologies-sarl-diekirch-1760490
Minerva Technologies Sàrl
50 Esplanade L-9227 Diekirch (Dikrech)
Holding

## Smart contract
n

[2018-01-23 13:20] coinbala commented on #43
This seems to be a proves scam?

[2018-01-23 13:40] angryolk commented on #34
![tim 20180123133906](https://user-images.githubusercontent.com/2903242/35278773-ea393ebc-0042-11e8-8eee-d3af2717f67d.png)
![tim 20180123133916](https://user-images.githubusercontent.com/2903242/35278775-ea68817c-0042-11e8-8eb8-d793c4f2d2bf.png)

[2018-01-23 13:41] angryolk commented on #34
really active telegram community and admin quick response. their ico is in Feb so still has plenty of time to investigate with

[2018-01-23 13:51] angryolk commented on #43
why scam?

[2018-01-23 14:21] coinbala commented on #43
https://www.reddit.com/r/CryptoMarkets/comments/7ojbaf/warning_dadi_ico_is_a_proven_scam_they/
![ux1zcmk](https://user-images.githubusercontent.com/35730440/35280618-9fd6523c-0048-11e8-8ef4-a612e485b9f6.png)

[2018-01-23 15:29] angryolk commented on #24
hi admin, why Red Flag?

[2018-01-23 15:34] yboz commented on #34
I think so too. It is quite normal to pivot in the startup/kickstart scene.

[2018-01-23 18:22] CyberMew opened #49 "Sentinel Chain - Background check"
# [Sentinel Chain](https://sentinel-chain.org/) (SENC)

## Other website
### [Infocorp](https://infocorp.io/)
![infocorp](https://user-images.githubusercontent.com/32852887/35420588-ab665c9e-023e-11e8-8f97-5c9e60efa4c0.png)

- [Infocorp.io](https://infocorp.io/) is the parent company of [sentinel-chain.org](https://sentinel-chain.org/).

## Team
- Roy Lai - (Founder & CEO) - May 2017 - Present | [

[2018-01-23 19:10] shumail92 commented on #24
@angryolk Because of "No Vesting Schedule". For the green flag, one of the conditions is `+2 years vesting with a 6 month cliff`

[2018-01-24 01:05] #27 closed

[2018-01-24 01:05] #30 closed

[2018-01-24 01:07] #33 closed

[2018-01-24 03:18] larin92 opened #50 "REMME - Due diligence"
# [Remme](https://remme.io/) (REM)

## Team
- Alex Momot (CEO & Founder) - 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/alex-momot-93596b32)
- Kate Pospelova (CMO & Co-founder) - 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/kate-pospelova-6153a536)
- Taras Emelyanenko (System Architect) - Mar 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/tara

[2018-01-24 04:31] jeffshek commented on #37
GitHub - It's light on details.

https://github.com/ArcBlock

[2018-01-24 08:11] karelstriegel commented on #45
My team made me aware of your review, thanks a lot for taking the time to really go into the details, much appreciated.

[2018-01-24 10:41] coinbala commented on #50
Im interested in this one too, need more research

[2018-01-24 12:23] coinbala commented on #49
Need more info

[2018-01-24 17:22] CyberMew commented on #49
I'm pretty sure that goes without saying. We would all appreciate it if you can help to provide more of those "info"

[2018-01-24 17:33] ryanprice opened #51 "Gimmer - Background check"
# [Gimmer](https://token.gimmer.net/) (GMR)
Automated Crypto-trading bot platform

## Team
- Philipe Comini (Co-founder & CEO) - Dec 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/pcomini/)
- Pérsio Flexa (Co-founder & CTO) - Dec 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/persio-flexa/)
- Paul Lindsell (COO) - Jun 2017 - Present | [Linkedin profile](https://ww

[2018-01-24 20:07] angryolk commented on #24
@shumail92 what if no vesting will affect an ico?

[2018-01-24 21:20] coinbala commented on #49
Yes, this is my database of ICO review, will add when i get to sentinel https://docs.google.com/spreadsheets/d/1KNI-T11UgUgY3_F6kJB872AjL4Kk18RpHlA8OkoiJAk/edit#gid=1445080756

[2018-01-25 02:01] coinbala commented on #50
My rating is complete and had great feedback from their CMO

[remme.pdf](https://github.com/ico-check/ico-check/files/1662308/remme.pdf)

[2018-01-25 03:08] coinbala commented on #12
And they are doing a dutch auction.

Cash grab!

[2018-01-25 06:49] adrianhara commented on #40
Fyi: I wrote platformatec to ask about their relationship with digitex. No answer whatsoever.

[2018-01-25 11:51] shumail92 commented on #24
@angryolk I am not an admin. May be @icochecker can give better answer here.

[2018-01-25 15:17] MrNicodemuz commented on #45
@karelstriegel any chance to still register for the token sale?

[2018-01-25 15:56] Jarray01 commented on #13
a design is a
![plagiarism](https://user-images.githubusercontent.com/17760824/35397781-9f5bba78-01f0-11e8-93bb-57635da772f4.png)
copy/pas from Blockv

[2018-01-25 15:58] Jarray01 commented on #13
design is a copy/past from Blockv
![plagiarism](https://user-images.githubusercontent.com/17760824/35397781-9f5bba78-01f0-11e8-93bb-57635da772f4.png)

[2018-01-25 22:57] inancgumus commented on #12
Most of the code in their Github repos seems like directly copied or forked with no additional value regarding the proposition they have made. I believe the only original code is the smart contract codes [here](https://github.com/gonetwork-project/gonetwork-poc-contract/search?utf8=%E2%9C%93&q=go&type=). And because the whitepaper has been removed, I couldn't verify the smart contracts either.

[2018-01-26 01:16] icochecker commented on #49
@CyberMew @coinbala I added additional info to the issue.

[2018-01-26 02:29] #22 closed

[2018-01-26 02:30] #28 closed

[2018-01-26 02:34] #46 closed

[2018-01-26 09:28] karelstriegel commented on #45
Hi @MrNicodemuz , I'm afraid that will be hard, we had to close our whitelist at 6K. Presale is 100% allocated and we have a presale waitlist of more then $6M, which is what we are looking to raise in  the public sale. I'm afraid you will have to wait until after the token sale to get your hands on a couple of FND's.

[2018-01-26 23:01] martin1551 opened #52 "Play2Live - Due diligence"
# [Play2Live](https://play2live.io/en/) (LUC)

## Team
- Alexey Burdyko (Founder & CEO) - Oct 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/alexey-burdyko-33a29316/)
- Dimitry Kochnev (COO) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/kochnev/)
- Inna Moroz (CBDO) - Oct 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/innamoroz/)
- Orhan Ze

[2018-01-27 03:06] larin92 commented on #39
any news? it's coming pretty soon

[2018-01-27 09:42] martin1551 opened #53 "Medicalchain"
# [Medicalchain](https://medicalchain.com/en/)

## Team
*[Dr Abdullah Albeyatti](https://www.linkedin.com/in/abdullah-albeyatti-mbbs-bsc-mrcs-ent-49916973/)*
*[Mo Tayeb](https://www.linkedin.com/in/abdullah-albeyatti-mbbs-bsc-mrcs-ent-49916973/)*
*[Natalie Furness](https://www.linkedin.com/in/nataliefurness/)*
*[Dr Philip Xiu](https://www.linkedin.com/in/philip-xiu-4265991a/)*
TODO rest

## Compan

[2018-01-27 11:22] icochecker commented on #39
@larin92 i will update the issue today 🙂

[2018-01-27 15:45] martin1551 opened #54 "SP8DE - Due diligence"
# [SP8DE](https://sp8de.com/) (SPX)

## Team
- Alexey Kashirsky (CEO & Co-Founder) - Jun 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/alexey-kashirsky-166997b2/)
- Mikhail Krapivnoi (CIO & Co-Founder) | [Linkedin profile](https://www.linkedin.com/in/mikhail-krapivnoi-1601a1142/) **does not mention SPD8**
- Evgeny Borchers (CVO & Co-Founder) - Jul 2017 - Present | [Linkedin profi

[2018-01-27 20:06] nistic commented on #50
As of right now their prototype is broken and they have no estimated fix date.

<img width="978" alt="1" src="https://user-images.githubusercontent.com/7002432/35475818-d622deae-03a5-11e8-90fa-673b389d09a9.png">
<img width="977" alt="2" src="https://user-images.githubusercontent.com/7002432/35475817-d60a0f00-03a5-11e8-9e80-5e7634496934.png">

[2018-01-27 20:09] larin92 commented on #50
When I've tested it 4 days ago it seemed working. What exactly happened when you tested it?

[2018-01-27 20:10] nistic commented on #50
A password was required to add it to the OSX system keychain. They said the password was sent with the email but the email did not contain a password. I then asked them about the password and got the above response.

[2018-01-27 20:57] larin92 commented on #50
presale starts tomorrow. would be nice to get a github review. at least github, please.

[2018-01-27 21:00] icochecker commented on #50
@larin92 i will add more info to the issue in few hours, and push it to icocheck.io 🙂

[2018-01-27 21:28] yboz commented on #34
They have a vesting schedule (specified in the [ICO FAQ](https://medium.com/republicprotocol/whitelist-ico-faq-a877b3d8d264) but when I asked about vesting being coded into the smart contract:
![no](https://user-images.githubusercontent.com/30636054/35476503-5907a600-03b1-11e8-9831-af0560ecbd16.png)

So there is no smart contract yet and this question needs a follow up.

[2018-01-27 22:35] JayICO commented on #43
Scam then?

[2018-01-28 04:38] #41 closed

[2018-01-28 04:39] #47 closed

[2018-01-28 11:14] 1897 opened #55 "Refereum - Due diligence"
# [Refereum](https://token.refereum.com/)

## Team
Dylan Jones https://www.linkedin.com/in/thedylanjones/
Alistair Doulin https://www.linkedin.com/in/doolwind/
Sloane Earl https://www.linkedin.com/in/sloane-earl-44810739/
Nick Klingsmith https://www.linkedin.com/in/nickklingensmith/
Brad Johnson https://www.linkedin.com/in/bradley-johnson
Mark Maratea https://www.linkedin.com/in/mark-maratea-73b96

[2018-01-28 14:26] lopezm94 commented on #52
They also publicly revealed future exchanges in telegram channel.

[2018-01-28 14:59] bripto opened #56 "Sapien Network - Due diligence"
# [Sapien Network](https://www.sapien.network) (SPN)

## Team
Ankit Bhatia https://www.linkedin.com/in/ankitxbhatia
Robert Giometti  https://www.linkedin.com/in/robert-giometti-78bb889b
Matias Dorta https://angel.co/matias-dorta
Stefan Ionescu https://www.linkedin.com/in/stefan-codrin-ionescu-205521121
Aurélien Nicolas https://www.linkedin.com/in/aureliennicolas/
Christopher Lee https://www.linked

[2018-01-28 16:18] martin1551 opened #57 "Savedroid - Due diligence"
# [Savedroid](https://ico.savedroid.com/)

## 🔥🔥 UPDATE: 19 April 2018 - It was a PR stunt 🔥🔥
## 🔥🔥 UPDATE: 18 April 2018 - Website shows the following 🔥🔥
![savedroid-gone](https://user-images.githubusercontent.com/32852887/38931413-6114db00-4313-11e8-8c08-784ec040866c.jpg)

## 🔥🔥 UPDATE: 18 April 2018 - Twitter post from founders account 🔥
![savedroid-twitter](https://user-images.githubuserconten

[2018-01-28 18:28] bripto commented on #55
Smart Contract:
https://help.refereum.com/token-sale/where-can-i-get-info-about-your-smart-contract

[2018-01-29 00:58] icochecker opened #58 "Seele - Due diligence"
# [Seele](https://seele.pro/) (Seele)

## Team
- Liu Wensi (Big data platform architect) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/wensiliu)
- Wei Bi (Chief Scientist) - 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/biweicn/)
- Maolin Zheng (Dean of the BRI) - May 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/maolin-zheng-584a5a6/)
-

[2018-01-29 02:37] JayICO commented on #43
What is the status of this ICO? Are they worth it?

[2018-01-29 10:34] angryolk commented on #43
@coinbala  their announcement about plagiarised here:
https://medium.com/@daditech/community-update-c3df86acb1e0
and here:
https://eduardoboucas.com/blog/2018/01/07/dadi-crowdsale.html

[2018-01-29 11:27] ashic commented on #25
To elaborate on @EzimetYusup 's point:

* They have four repos.
* One is Polynomial, which implements polynomial functions. I have no clue why it's there. It looks like it's copy-pasted, and irrelevant to the product.
* IP_Forwarding is another repo that looks like a high school assignment to be done in 30 minutes or so.
* Machine-Learning.... ooh yeah... we got some buzzwords!! The code is basic

[2018-01-29 14:48] larin92 commented on #50
[https://cdn.discordapp.com/attachments/406546689386872832/407546581173403649/image.png](url)

[2018-01-29 20:37] #40 closed

[2018-01-30 00:13] icochecker commented on #24
@angryolk I updated the issue with screenshots on the vesting section.

[2018-01-30 02:01] #35 closed

[2018-01-30 02:30] #36 closed

[2018-01-30 03:03] luoq commented on #58
please update: Wei Bi mentioned Seele Tech in linkedin

[2018-01-30 17:44] qubist commented on #24
Hi, Will here from the Holo team. Additionally, vesting makes a little less sense for our ICO because our HoloTokens are temporary. We're planning on exchanging all tokens we sell for Holo fuel once Holo launches, after a few months of the Tokens being around. So having a 2 year vesting period would be after all the tokens would be destroyed.

[2018-01-30 17:44] qubist commented on #24
Thanks for keeping this so well updated and conglomerating all this information together for folks :) We really appreciate it

[2018-01-30 20:12] nistic commented on #50
Ironwood Research Group AMA with the CEO of Remme - https://www.youtube.com/watch?v=sDHbTFPExhs

[2018-01-31 01:59] #43 closed

[2018-01-31 13:27] yboz commented on #42
This ICO is closed.

[2018-01-31 16:20] #42 closed

[2018-01-31 19:31] cryptojoe1000 opened #59 "Cloned issue"
# [Company name](company website)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

## Product
*

[2018-01-31 19:31] cryptojoe1000 opened #60 "Cloned issue"
# [Company name](company website)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

## Product
*

[2018-01-31 19:36] icochecker commented on #59
@cryptojoe1000 Issue already exist https://github.com/ico-check/ico-check/issues/3

[2018-01-31 19:38] #60 closed

[2018-01-31 19:42] #59 closed

[2018-02-01 00:00] gaia opened #61 "Modex - background check"
# [Company name](company website)
https://www.modex.tech/

## Team
*Here list team members with links to their LinkedIn accounts in here*
https://www.linkedin.com/in/mihai-ivascu-179b7027/
https://www.linkedin.com/in/paul-mears-80224b4/
https://www.linkedin.com/in/florinotto/
https://www.linkedin.com/in/dragosilinca/
https://www.linkedin.com/in/aliniftemi/
https://www.linkedin.com/in/mark-bolsom-4

[2018-02-01 00:17] damncryptic commented on #12
People need to wake up and stop following Ian Balina. He is the biggest shill of the crypto currency world. He has been supporting ICO's who are literally betraying the investors trust. If you check out his spreadsheet, many of the ICO's that are really good and have better potential than the one he ranks all star he under rates them based on team, based on no working prototype etc.. But he rates

[2018-02-02 15:40] #53 closed

[2018-02-03 15:02] globehopstera commented on #37
Banned from ArcBlock Telegram Group for asking about ArcBlock prototype.

I was just kicked off and banned from the main ArcBlock Telegram Group for asking about the prototype, without warning. I was not attempting to spread FUD but was inquiring about the project as part of due diligence.
When asked about the prototype, the ArcBlock admin gave a vague response such as "Related information will be

[2018-02-03 20:01] AeroTimber commented on #37
Banned from ArcBlock Telegram Group for asking the contract address of the ABT token on Ethplorer.

Out of the blue I was kicked and banned from the ArcBlock Telegram Group just because I very politely asked for the contract address of the ArcBlock  ABT token on Ethplorer because I couldnt find it and wanted to add a custom token to my MEW wallet.

I made it clear I was not asking for the ETH adre

[2018-02-03 21:36] #13 closed

[2018-02-03 22:12] #39 closed

[2018-02-03 22:16] #34 closed

[2018-02-04 01:24] uabca opened #62 "GBX (Gibraltar Blockchain Exchange) - Due diligence"
# [GBX - Gibraltar Blockchain Exchange](https://gbx.gi/) (RKT)

## Team
- Nick Cowan - Group Chief Executive Officer (Gilbralta) | [LinkedIn](https://www.linkedin.com/in/nick-cowan-00a1a439/)
**Managing Director Gibraltar Stock Exchange Group** - Sept 2012 - Present

- Philip Young - Group Chief Marketing Officer (London) | [LinkedIn](https://www.linkedin.com/in/philip-young-189312a4/)
**Director

[2018-02-04 12:51] kuangli2000 opened #63 "Origin Protocol - Due diligence"
# [Origin Protocol](https://www.originprotocol.com/) (ORIGIN)

## Team
- Josh Fraser (Cofounder) - Jun 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/joshuafraser/) | [Github](https://github.com/joshfraser) | [Twitter](https://twitter.com/joshfraser) | [Personal site](http://www.joshfraser.com)
- Matthew Liu (Cofounder) - Jun 2017 - Present | [Linkedin profile](https://www.linkedi

[2018-02-04 13:08] kuangli2000 commented on #24
Thanks

[2018-02-04 14:07] wangzhensheng commented on #58
https://seele.pro/index/statement.html?lang=en-us
Hope everything go well

[2018-02-04 22:30] jorisw commented on #12
Just to contribute... Their admin Jenny says this in the Telegram group, with regards to the Dutch auction:

[code]

[2018-02-05 09:00] gulfcoin commented on #12
Lol, we are commenting on a possible scam and retards are advertising it here. There are lots of better ways to plan a crowdsale and save on gas and network congestion, so kindly dump this bullshit elsewhere

[2018-02-05 09:01] gulfcoin commented on #12
We know the founders are too caring of the community and are raising funds to fight big whales
![33400070-072c5c8e-d555-11e7-9c6e-7dcd621471f7](https://user-images.githubusercontent.com/29134685/35796066-aec49138-0a74-11e8-8508-302a5e1a30e8.jpg)

[2018-02-05 09:06] gulfcoin commented on #12
$800 in gas for 1-2 ether contribution. Dude, tell this telegram admin to STFU

[2018-02-05 12:47] rogersmarin opened #64 "Endor - Due diligence"
# [Endor](https://www.endor.com/) (EDR)

## Team

### Founding Members
- **Doron Alter** (Co-Founder & Chairman) - Jan 2018 - Present | [Linkedin profile](https://www.linkedin.com/in/doronalter) | [Twitter](https://twitter.com/doronalter)
 Endor | Co-Founder & CEO - Mar 2014 - Dec 2017
 Innovation Endeavors | Partner - 2011 - Mar 2014

- **Yaniv Altshuler** (Co-Founder & CEO) - Jan 2018 - Present

[2018-02-07 23:56] icochecker commented on #24
# Update as of 8 Feb 2018

![2018-02-08 00 53 24](https://user-images.githubusercontent.com/32852887/35948054-efc70b14-0c6a-11e8-9bfe-c2a9418b1583.jpg)

[2018-02-08 12:30] shumail92 commented on #50
@icochecker I think they have now deployed smart contract. But not sure about the vesting schedule implementation in contract.
https://etherscan.io/address/0x83984d6142934bb535793a82adb0a46ef0f66b6d#code

[2018-02-08 19:56] KazanGi commented on #38
Big red flags
Im pre-sale investor. 
I was banned from Giza telegram because I was pointing out huge issue about “Third Pin LTD” tech/Dev team being totally removed from the project ;  as Ivan Ioan Larionov (CEO Third Pin LTD) said without any reason except NOT given them the raised money to start working on development.
Investors were never informed about this important change till the end of the

[2018-02-08 21:16] martin1551 opened #65 "Dether - Due diligence"
# [Dether](https://dether.io/)

## Team
* [Hamid Benyahia (Co-founder)](https://www.linkedin.com/in/abdelhamidbenyahia/)
* [Mehdi Amari (Co-founder)](https://www.linkedin.com/in/mehdi-amari-a69599b8/)
* [Nicolas Wagner (Blockchain developer)](https://www.linkedin.com/in/nicolas-wagner-ab59249a/)
* [Pacien Boisson (Full Stack JS Developer)](https://www.linkedin.com/in/pboisson/)
* [Ishak Leghlam (F

[2018-02-08 23:38] #37 closed

[2018-02-09 02:50] icochecker commented on #38
# Investors concern in the Gizza telegram chat
![gizza-investor-telegram](https://user-images.githubusercontent.com/32852887/36009429-6728d2a0-0d4c-11e8-8818-989e698677a3.png)

[2018-02-09 10:55] KazanGi commented on #38
Hi guys,
If you look at CompaniesHouse registration about Ms Elna Paulette Lafortune, you can see
that in less than TWO months, SIX companies were established.....
Questions :
- Are these very new companies related in any way with Giza Device LTD ?
- Do they need so many differents companies to play with fund raised in Giza Device Pre-ICO and coming ICO?
These are some questions im asking myself n

[2018-02-09 15:45] #32 closed

[2018-02-09 16:26] KazanGi commented on #38
Gathered many info and can say that the only REAL TEAM in this project was the Tech team from
Third Pin LTD.

[2018-02-09 18:46] mpnyc commented on #12
i am seriously so shocked how are people manipulating crypto for their selfish gains.  These guys were one of 8 winners and you goto their telegram , their website  - they are just screaming ETHWATERLOO ETHWATERLOO ETHWATERLOO and thats it,. the founder has " ycombinator interview" as an accomplishment. my money is on the fact that they probably have 1-2 developers solely responsible for award and

[2018-02-10 04:19] #55 closed

[2018-02-10 04:22] #65 closed

[2018-02-10 04:34] icochecker opened #66 "DML (Decentralized Machine Learning) - Due diligence"
# [DML - Decentralized Machine Learning](https://decentralizedml.com/) (DML)

## Team
- Victor Cheung (Blockchain Developer) - Mar 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/victorcheung52)
- Michael Kwok (Project Lead Director) - Mar 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/kwokmichael)
- Jacky Chan (Blockchain and Software Developer) - Sep 2017 - Prese

[2018-02-10 11:07] Empresaria opened #67 "OILSC - Due diligence"
# [OILSC](http://oilsc.io/)

## Team
![oilsc-team-1](https://user-images.githubusercontent.com/32852887/36068127-c8c39702-0ecd-11e8-84bb-ce0bee10da2f.png)
![oilsc-team-2](https://user-images.githubusercontent.com/32852887/36068128-cb0b6e72-0ecd-11e8-8985-7613515f49b0.png)

- David Clark (Head of Development) - 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/david-clark-1483861a/)

[2018-02-10 11:09] Empresaria commented on #67
Does not require KYC . White pages claim non compliance

[2018-02-10 11:57] dalim927 commented on #38
From Mark Fike Giza Device on Telegram Chat Group.
Hello guys. Karina pulled me out of my day off :) I worked a lot time before and I want to have a rest, but now I have to look for new developers. We have 2 company offers:
1. German
2. Malaysian
Most likely, we will choose the first, as these guys inspire confidence in us. The final result you will learn on Monday. Our programmer will add their n

[2018-02-10 13:20] karelstriegel commented on #45
Small update, in the meantime the audit of the smart contracts is done.
You can find a summary in our blog post here : https://blog.fundrequest.io/security-audit-report-1-17b76d8edc3b
or the full report here : https://github.com/FundRequest/audit-reports/blob/master/2018-02-06%20-%20Least%20Authority%20-%20ICO%20Contracts%20Audit%20Report.pdf

[2018-02-11 02:55] MrNicodemuz commented on #67
The website seems to no longer function
<img width="854" alt="screen shot 2018-02-11 at 10 55 58 am" src="https://user-images.githubusercontent.com/1620454/36068858-0ea193e0-0f1a-11e8-8d73-33712c8c9a1b.png">

[2018-02-12 07:55] Formani4 commented on #51
Q.....
Morning Friends. Admin I wanna ask some question.
1, GMR tokens inside the Bot will be used as a main currency (i need to change Alt to GMR to trade, or I can trade alts directly?)?
2. Will GMR be used as a platform token to reduce Fees (like in Binance for example)?
3. Are there any bonuses for vesting (holding) GMR tokens (for example monthly +%?)
A.....
With the GMR tokens you can rent t

[2018-02-12 08:18] Formani4 commented on #51
Q....
Do you plan to allocate GMR on Exchanges? Can you provide a list of Exchanges you plan to use?
A...
So far Gimmer bots can cover Bitfinex, Bittrex and Poloniex. There are more to come
GMR itself will be tradeable on exchanges too. From March 1st GMR will be on EtherDelta and IDEX, also more to come eventually

[2018-02-12 10:25] KazanGi commented on #38
Investors join this channel. At least we will have a place for all us to look for any possibility all together.

Here is a rescue group in case the worse happened if the main Giza channel disappears.
Feel free to join

https://t.me/joinchat/EfZurBHRk2Cz9Sg6-5pb2w

[2018-02-12 20:39] KazanGi commented on #38
WANT TO HIGHTLIGHT that ThirdPin LTD is helping the investors on Giza-rescue telg group.
I till now they have proved that they are not implicated in this scam.

[2018-02-13 08:18] coinbala opened #68 "Sharder Protocol - Due diligence"
# [Sharder Protocol](https://sharder.org/) (SS)

![sharder-full-team](https://user-images.githubusercontent.com/32852887/36574381-dc1e9816-1845-11e8-9792-9fc6651c0192.png)

## Team members with no mention of Sharder Foundation in their Linkedin profiles:
- Youwei Shao - Wayne (COO) - Sep 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/wayneshao/)

## Team members with no Linkedin p

[2018-02-13 17:29] Formani4 commented on #31
Have been BANNED out of telegram chat when asking writing "No dates on roadmap, no working product (money locked in unworking system), no comments on any exchange by admins". No questions, no explanations, just BAN. For me this action says its  ALL.

[2018-02-13 23:06] shideneyu commented on #26
Hello @icochecker . You can check by yourself that we refunded everyone who invested in the project. It has been fully cancelled, and we have not even touched to the funds.

Would it be possible that you remove the first image of this ticket ? It shows my personal address that I gave to give more insurance to my investors, and I am now trying to regain my privacy now that I fulfilled my duties.

B

[2018-02-14 08:01] Aza1 commented on #58
Thanks for the info Evidence-Chain!

[2018-02-14 12:30] LisaAl commented on #58
evidence-chain, the last point of your analysis seems a little inaccurate. How do you know that the scammers had an agreement with the team? It appears the scammers social engineered their way into the circle of telegram admins.

Could you please clarify where it was claimed that Donald Lawrence is the Dean of the Alan Turing Institute? Was it in their website? If so, it has since been removed, bu

[2018-02-15 08:31] cmhsu-cs commented on #58
Looks like Nick Smith's LinkedIn is no longer working...

[2018-02-15 08:32] cmhsu commented on #58
Nick Smith's LinkedIn is no longer working...

[2018-02-15 10:49] coinbala commented on #58
YEs confirm NIck SMith linkedin is off again

[2018-02-15 11:11] Pzipzi commented on #58
Prof. John Fox, professor at the University of Oxford, confirmed he's an advisor to Seele.

![1](https://user-images.githubusercontent.com/36503640/36253869-2f4a4ede-1249-11e8-88cb-82cadcd5f2c9.jpg)
![2](https://user-images.githubusercontent.com/36503640/36253870-2f68b0fe-1249-11e8-93c8-69172a44ae47.png)

[2018-02-15 14:02] LisaAl commented on #58
Nick Smith's Linkedin works just fine for me

[2018-02-15 14:16] evidence-chain commented on #58
@LisaAl Hi, Thanks for your reply!

In terms of the first question. There is a similar problem happened on last year. Some Chinese entrepreneurs sent email to deans of ATI and senior managing team in UCL about Donald Lawrence use fake background to cheat money. However, there is not any follow-up from university side. I had two screenshots from one of UCL managing team members.

![image](https://u

[2018-02-15 14:22] gglock2 commented on #58
Just got off the phone with UCL CBT. They're not partners and are very concerned. DYOR, but I'm out!

[2018-02-15 14:28] evidence-chain commented on #58
@Pzipzi
Looks like Prof. John Fox just want to have some kinds of industry-university collaboration, while there is not big involvement from his side.

[2018-02-15 16:50] shideneyu commented on #58
The google drive URL was already present in the homepage's source code. What it means is that anyone could already access the drive url long before the start.
![image](https://user-images.githubusercontent.com/876824/36269065-7f1e5dea-1278-11e8-8f11-13f6b514e005.png)

[2018-02-15 16:53] LisaAl commented on #58
Thank you @evidence-chain, that is something to certainly consider. I have personally dropped a line to UCL CBT myself, and will update here if they reply.

Am I right in assuming that you are the claimant and the author of the email that you posted?

The level of English and the style are certainly the same in your posts and in the email. If that is the case, perhaps you could explain what happen

[2018-02-15 16:57] LisaAl commented on #58
@shideneyu the fact that they have chosen to use a Google form for the whitelist is indeed disappointing

[2018-02-16 14:05] Pzipzi commented on #58
@evidence-chain  Thanks for the info. I personally think that university partnerships are mostly not 'proper' ones, but rather mentioned because they have the professors in the team or advisors that are teaching there - which is quite misleading. Looking just at the blockchain/IT specialists the team looks really solid, which is (and should) be the most important factor in what they are aiming to

[2018-02-16 17:25] hellerox commented on #58
@shideneyu They are delaying the whitelist because of this problems

![image](https://user-images.githubusercontent.com/8068617/36320500-0c8ef41c-130c-11e8-90e9-881096647d6e.png)

[2018-02-16 18:35] djskinner commented on #68
Struggling to find the github repo for Qianglin Fan's bitcoin light wallet. Has anyone located it?

[2018-02-16 20:21] WYOOUAR commented on #58
This guy is very mysterious...why digital currency expert, better ICO expert. :-)

<img width="388" alt="bildschirmfoto 2018-02-16 um 20 49 39" src="https://user-images.githubusercontent.com/36549298/36326343-0be9a0e4-135b-11e8-8ddb-a10c66027453.png">
<img width="1288" alt="bildschirmfoto 2018-02-16 um 20 51 14" src="https://user-images.githubusercontent.com/36549298/36326398-363b0568-135b-11e8-88

[2018-02-16 20:25] WYOOUAR commented on #58
something goes wrong here...maybe the parnter are going abrupt away. Why this?
Is there perhaps no partnership?

We started with 10!!
<img width="1207" alt="bildschirmfoto 2018-02-16 um 21 15 12" src="https://user-images.githubusercontent.com/36549298/36327719-be9fd1d2-135f-11e8-9ea3-d3168434e7b8.png">
<img width="1219" alt="bildschirmfoto 2018-02-16 um 21 16 03" src="https://user-images.githubuse

[2018-02-16 23:39] evidence-chain commented on #58
https://www.youtube.com/watch?v=QFW_frMCHdU

https://www.youtube.com/watch?v=QgcVWcw9EEc

[2018-02-17 10:10] HomeY commented on #49
![poc - nogo](https://user-images.githubusercontent.com/1996332/36340039-1bc47f5c-13d3-11e8-9aa4-a36b59e79d5d.jpeg)

[2018-02-17 21:32] voldemarz commented on #58
Link to the Nicholas Smith linkedIn changed to https://www.linkedin.com/in/nicholas-s-19626a1/

[2018-02-17 23:00] Gitstocker commented on #58
@evidence-chain Thank you so much for your information. As a potential Seele ICO investors, I am of great concern to the accuracy and reliability of information provided by the dev team. It also comes to my attention that Gong Hui and Donald Lawrence has extensive involvement in cryptocurrency and ICOs.
I am an ex-student of UCL and I can confirm that Gong Hui is a staff of UCL computer science de

[2018-02-18 00:19] voldemarz commented on #58
Noticed that Hui Gong is not listed on UCL CBT staff page http://blockchain.cs.ucl.ac.uk/people/
Maybe is personal page is out of date. I wrote him a mail for clarification.

Also here's is is academic page http://www.homepages.ucl.ac.uk/~ucahgon/
His supervisor indeed now is in Oxford https://www.maths.ox.ac.uk/people/alvaro.cartea

[2018-02-18 14:38] ico-eagleye commented on #58
Thanks for all of the investigation provided here Dudes. It is clear that Hui Gong has not obtained a PhD degree as the employment letter reaffirms that he is Mr. Hui Gong. Note the ‘ Mr ‘ title. This is an important fact and should not be overlooked while he claims to be Dr. Hui Gong in many ICO projects. In addition, the period is considered very short as it is 5 months work as a research assist

[2018-02-18 15:49] voldemarz commented on #58
@ico-eagleye
"Hui Gong previously mentioned that he is a research fellow at Oxford university"
Where was that?

"..he claims to be Dr. Hui Gong in many ICO projects"
Was mentioned as Dr in some of Seele's medium posts and twitter. Claims to be PhD not Dr in https://themis.network/ and https://investdigital.info/?lang=EN#ourteam
Agree that it's not cool to twist the story to make it look better.

"

[2018-02-18 16:14] gaia commented on #64
Might be of help: https://www.youtube.com/watch?v=meuCcBkKLBU

[2018-02-18 16:24] voldemarz commented on #58
I summarized concerns discussed here into questions and sent them to Hui. I invited him to respond here, alternatively I'll post answers when I get them.

I have summarized points of concern for people. Would appreciate if you could answer these. Preferably directly in https://github.com/ico-check/ico-check/issues/58 or alternatively here and I will repost.
1. What is your role in Seele team?
2. H

[2018-02-18 16:38] KazanGi commented on #38
Hi everyone,

Guys, can we have your help to get awareness on twitter Exchanges about Giza Device?
Could you please take a little time to retweet. Many thanks for your help and support

This is my tweet :
URGENT SCAM ALERT GIZA Device PLS Help investors and stop them from withdrawal with your Exchange. Thank you. Wallet Address  0x5505b8415A83f8C190c02458bd8Ec0eFeD15642e
Contract  Address  0x1A836

[2018-02-18 16:52] KazanGi commented on #38
plse upvote reddit post, many thanks 👍

https://www.reddit.com/r/icocrypto/comments/7w7x6c/giza_device_red_flags_beware_of_scam/

[2018-02-18 17:02] voldemarz commented on #58
![image](https://user-images.githubusercontent.com/1264210/36354502-cd8e6362-14d5-11e8-932c-bd02b84370d5.png)

[2018-02-18 17:05] Pzipzi commented on #58
Lol, what a shady person apparently full of himself.

[2018-02-18 19:10] ico-eagleye commented on #58
@voldemarz  Hi, thanks for summerising the information here.

"Hui Gong previously mentioned that he is a research fellow at Oxford university" was mentioned in the aforementioned post. It is in the ICO THEMIS.

Here is the screenshot to prove he said he was research fellow at Oxford from above here.

![image](https://user-images.githubusercontent.com/36597383/36354749-02d51e94-14d1-11e8-9a19-e8de

[2018-02-18 19:11] ico-eagleye commented on #58
@voldemarz

"Visiting professors are awarded in recognition of a variety of skills and experiences that are not necessarily exclusively academic. Indeed industry experience and expertise in a particular sector are skills that can be recognised with the award of an visiting professor title."

[2018-02-18 19:32] LisaAl commented on #58
Yea @ico-eagleye the Oxford postdoc story does look pretty bad. Claiming he's a postdoc when he hasn't even finished his PhD (and at a different university, even?) goes way beyond embellishment. It is a straight up lie.

[2018-02-18 22:07] achillestzimis commented on #58
I am a UCL graduate and Donald Lawrence tried to sell my research project to large institutions and tried to pass it off as his own.
This has been reported by a number of other UCL graduate students also. I also have witnesses that Donald Lawrence goes around undermining the credibility of students
And there are links in this bitcoin scam page involving theft of $2million from ICO and it is my bel

[2018-02-18 22:50] Gitstocker commented on #58
@evidence-chain Having read through the evidence you provided in this tread, may I ask some question regarding the reliability of the evidence? Firstly, I am very curious about the original source of the email. The email looks very suspicious. Let alone the consistent grammatical errors and expression in the email sent by a institution paid this much money, the email is forwarded which means the c

[2018-02-18 23:14] LisaAl commented on #58
@achillestzimis as a graduate in a STEM subject you should know that unsubstantiated claims should never be made, especially when such claims are extreme and, quite frankly, ridiculous. Even if Mr. Lawrence had tried to pass off your research as his own (hardly the first case of such behaviour in academia, albeit unjustifiable), how exactly are you jumping to the conclusion that thus he must have

[2018-02-18 23:17] voldemarz commented on #58
"I am looking forwards to how Seele team and our ICO professionals will response :)"
@Gitstocker Sadly Hui Gong chose to not comment of pretty basic questions that could remove most of the FUD.

[2018-02-18 23:28] LisaAl commented on #58
ok @achillestzimis I've done some research about you and I see you had some sort of lawsuit going on, was that against Mr. Lawrence?
I still think accusing him of stealing money because he tried to steal your research is a stretch, and a dangerous claim (legally speaking, for obvious slander-related reasons) to make online under your real name.

[2018-02-18 23:36] evidence-chain commented on #58
@achillestzimis You are the best!
I have the feeling that @Gitstocker is Hui Gong.

![screenshot](https://user-images.githubusercontent.com/36455211/36358315-7bcdc6e2-1504-11e8-9445-bf4ddb63af8f.jpeg)

[2018-02-19 07:26] evidence-chain commented on #58
Hui Gong is scared and delete his contract after @voldemarz questioned him. However, I am so happy to provide his contract here. :)

![hugo-ucl-letter](https://user-images.githubusercontent.com/36455211/36366435-094317a2-1546-11e8-8e2e-9a7aeeff2f11.jpg)

[2018-02-19 08:57] achillestzimis commented on #58
I wrote a blog about my time as an MSc student at UCL here:

https://achillestzimis.github.io/UCL-goo-moo-foo.html

I don’t think that poorly written email is fake as a lot of Chinese students don’t like Donald Lawrence. He tried to sell my MSc project to large institutions as his own work but I have found this out from other people now and Donald Lawrence uses a company called MarcheMondialknowle

[2018-02-19 09:14] Pzipzi commented on #58
I recently had a wild idea that their whitepaper is simply someone's adjusted phd thesis or something, which actually is not far from what @achillestzimis is talking about lol. This is just pure speculation and fud what I am saying, but the more I read about this shady people, the more I start to think that all this is just a load of crap. False partnerships, false titles, shady previous ICOs that

[2018-02-19 09:45] ico-eagleye commented on #58
I am curious about Seele's partners. Why City University London isn't listed as their partner, while the majority of Seele team come from City University London? On the other hand, Seele team claims that they listed Oxford, UCL, UCLA, Stanford, and Edinburgh as partner just because some of them team members come from those universities.

Very strange, isn't it?

[2018-02-19 12:51] csgulyas commented on #58
The proposed QVIC protocol seems shady. Google has been working on their own protocol called QUIC for years, I didn't see it mentioned anywhere that QVIC would be a fork of that despite the similarities. Implementing a custom protocol is extremely hard with today's hardware being very rigid. Unless the timeframe for this is ~2025, it's not very likely to get traction.

I've also asked around and I

[2018-02-19 21:16] icochecker opened #69 "NuCypher - Due diligence"
# [Nucypher](https://www.nucypher.com) (NU)

## Team
- MacLane Wilkison (Co-founder & CEO) - 2014 - Present | [Linkedin profile](https://www.linkedin.com/in/maclane-wilkison-67770a13) | [Github](https://github.com/mswilkison) | [Twitter](https://twitter.com/maclanewilkison)
- Michael Egorov (Co-founder & CTO) - Mar 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/michael-egorov) | [

[2018-02-20 00:15] #31 closed

[2018-02-20 00:16] #45 closed

[2018-02-20 00:16] #50 closed

[2018-02-20 11:07] yboz opened #70 "Atonomi - Due diligence"
# [Atonomi](https://atonomi.io) (ATMI)

## Core Team
- Vaughan Emery (Founder & CEO) - Jan 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/vaughanemery/) | [Twitter](https://twitter.com/vaughanemery)
- David Fragale (Co-Founder and VP of Product) - Oct 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/davidfragale/)
- Michael Mackey (CTO and VP of Engineering) - No me

[2018-02-20 16:15] benique commented on #58
Gong Hui sometimes calls himself Hugo Gong
https://themis.network
https://investdigital.info/?lang=EN#ourteam

I guess Hugo is his English name and Hui his Chinese.

[2018-02-21 10:32] KamikazeKay commented on #58
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Dear friends and followers we want to inform you that .<a href="https://twitter.com/SeeleTech?ref_src=twsrc%5Etfw">@SeeleTech</a> is not a startup partner of .<a href="https://twitter.com/uclcbt?ref_src=twsrc%5Etfw">@uclcbt</a>. <br>We already asked them to remove the .<a href="https://twitter.com/uclcbt?ref_src=twsrc%5Etfw">@

[2018-02-21 16:03] evidence-chain commented on #58
<img width="1395" alt="wx20180221-160245 2x" src="https://user-images.githubusercontent.com/36455211/36490659-af26c750-1720-11e8-86ed-f5f332337a4c.png">

[2018-02-21 19:49] #62 closed

[2018-02-21 21:38] Pzipzi commented on #58
Anyone tried to reach Stanford, Oxford or University of Edinburgh? I mean those might be faked too. Seems like they think they can claim a partnership if they have an advisor or team member from that university. Bullsh*t.

[2018-02-22 04:00] icochecker opened #71 "YGGDRASH - Due diligence"
# [YGGDRASH](https://yggdrash.io) (YEED)

## Team
- Dongwook (David) Seo (CEO and Co-Founder) - Oct 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/dongwookseo) | [Facebook](https://ko-kr.facebook.com/people/%EC%84%9C%EB%8F%99%EC%9A%B1/100004274650748)

## Team members that recently joined AKASHIC FOUNDATION LTD
- Peter Ryu (CTO and Co-Founder) - Dec 2017 - Present | [Linkedin prof

[2018-02-22 08:05] zakharaya commented on #58
Hui gong is the one who the website is registered, he is a liar and a total con artist. Go look at the github. He is listed as a "blockchain expert" under the seele website. He is also in charge of the telegram. What happened was he made a fake telegram (Rebecca) and let all of those fake admins in, giving them moderator rights. Then all of the other admins redirected people to message Seelesuppor

[2018-02-22 08:07] zakharaya commented on #58
https://coinsnews.com/why-i-believe-seele-ico-might-be-a-scam-hopefully-we-can-clear-up-some-things This shows the website registration.  This is my theory of what happened.  Here are the screenshots of the Admins redirecting people to the scammer

[2018-02-22 08:07] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36526789-64a2028c-1764-11e8-8af6-4f8d6c939d99.png)

[2018-02-22 08:08] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36526801-7088c324-1764-11e8-8514-6fccb498e4db.png)

[2018-02-22 08:08] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36526811-79236476-1764-11e8-9026-0f25bea6082b.png)

[2018-02-22 08:08] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36526834-833cc4f2-1764-11e8-8674-ede629f9fca1.png)

[2018-02-22 08:09] zakharaya commented on #58
They claim they didn't know seelesupport was a scammer when they were redirecting people to him for the sole purpose of institutional and private sale inquiries, but then at the same time, claim that there was no private sale information or funds being accepted at that time as highlighted in the new official statement here:

![image](https://user-images.githubusercontent.com/36725852/36526871-a893

[2018-02-22 08:15] zakharaya commented on #58
So rebecca was the one who let seelesupport and nicsmith in, Ivy vouched for chris who along with dan redirected people to the scammers private message
So out of this pinned message, which was supposed to highlight all of the offical admins whom inquirers could trust, 6/11 directly or indirectly contributed to this

![image](https://user-images.githubusercontent.com/36725852/36527071-6df4902e-1765

[2018-02-22 08:15] Pzipzi commented on #58
Absolutely amazing read @zakharaya . I am pretty much staggered to be honest even though maybe on some points it's jumping straight to conclusions. But I totally agree about the shady look of all this, particularly about Hui Gong.

[2018-02-22 09:26] zakharaya commented on #58
Here is the smoking gun.
![image](https://user-images.githubusercontent.com/36725852/36530217-5c3b5caa-176f-11e8-8bb7-bbf880957cc1.png)

[2018-02-22 11:33] evidence-chain commented on #58
![image](https://user-images.githubusercontent.com/36455211/36536264-38c37c58-17c4-11e8-915e-89943e2e84d7.png)

[2018-02-22 11:45] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36536723-d4ba8d00-1782-11e8-8695-d4cf1fd8ae53.png)

[2018-02-22 11:47] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36536744-ea3f9ab2-1782-11e8-9187-e894db60fee4.png)
Same email

[2018-02-22 13:35] benique commented on #58
The company Nexperian Holding Limited is actually a domain privacy service. So the domain is not really owned by this company. waltonchain.org is using this service as well. So this is not proof that of a scam.

[2018-02-22 14:08] zakharaya commented on #58
https://pastebin.com/pZRS9Z6P  Everyone please read this.

[2018-02-22 14:09] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36542854-e4abb1e4-1796-11e8-8e07-1a2b6740a5a2.png)

[2018-02-22 15:34] evidence-chain commented on #58
https://pastebin.com/pZRS9Z6P
![image](https://user-images.githubusercontent.com/36455211/36547382-aa2fe2ac-17e5-11e8-90bd-1c524bba4e6a.png)

https://coinsnews.com/why-i-believe-seele-ico-might-be-a-scam-hopefully-we-can-clear-up-some-things
![image](https://user-images.githubusercontent.com/36455211/36547443-ccb12944-17e5-11e8-91eb-634042ecff05.png)

[2018-02-22 16:55] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36552192-1d83396c-17ae-11e8-9a78-d961ac592081.png)

[2018-02-22 19:29] Pink-Devil commented on #58
So from what I read the whole Seele project isn't a scam but just some individuals within it might be the problem?

[2018-02-22 19:48] apchir commented on #58
That's what I am seeing from these comments. The evidence presented here so far points to 2 individuals that might be problematic, but nothing to show the project is a scam.
I also see some theories (like someone said Hui gong and Rebecca666 are the same person), but they are just theories without evidence unless proven otherwise.

[2018-02-22 19:57] apchir commented on #58
With regards to censorship on their Telegram channel, I know they periodically mute their channel (the mute doesn't really prevent people from posting, but a bot automatically deletes any posts during the mute period). If the post in one of the above screenshots got deleted during their non-mute period and the poster was banned for asking a genuine question then it's definitely censorship and a re

[2018-02-22 20:02] zakharaya commented on #58
Yeah it was during the open conversation.

[2018-02-22 20:05] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36561432-8551f0be-17c8-11e8-9e08-6530f9a5edc8.png)

[2018-02-22 20:48] inancgumus commented on #71
"Proof-of-concept" is not a blockchain PoC, it's a dummy web app, nothing to do with the actual claims.

[2018-02-22 20:57] benique commented on #58
Maybe someone should try to contact Telegram abuse@telegram.org to see whether they can help to uncover the scammer. I'm sure they don't want to protect people like that.

[2018-02-22 21:55] evidence-chain commented on #58
Where are Bi Wei's 8 blockchain technology related patents? I cannot google it via  https://patents.google.com/?inventor=bi+wei&oq=bi+wei

[2018-02-23 06:03] nihao69 commented on #58
@evidence-chain

![image](https://user-images.githubusercontent.com/36755309/36580083-8cd01e6c-181b-11e8-9384-f3fd680ff281.png)

Here is one patent i found belongs to Dr. Wei Bi. You can search for yourself at
http://www.pss-system.gov.cn

[2018-02-23 08:54] zakharaya commented on #58
[Seele Report.pdf](https://github.com/ico-check/ico-check/files/1751018/Seele.Report.pdf)

[2018-02-23 10:36] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36590091-537a9616-1842-11e8-85b6-45bc575c896d.png)
![image](https://user-images.githubusercontent.com/36725852/36590101-5db5c7b8-1842-11e8-84fc-2aa489b52bd6.png)
![image](https://user-images.githubusercontent.com/36725852/36590110-64e9e096-1842-11e8-9e93-1a79d99f37f6.png)

[2018-02-23 11:52] evidence-chain commented on #58
@nihao69  1 is much less than 8!

[2018-02-23 13:30] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36596432-985234fc-185a-11e8-8cb7-7fecbdb82918.png)
They posted this to twitter and then deleted it lol

[2018-02-23 14:44] Pzipzi commented on #58
It is still there actually. We'll see where this goes lol
https://twitter.com/SeeleTech/status/967031510917267456

[2018-02-23 14:56] KamikazeKay commented on #58
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Seele signed an agreement with UCL-CBT on the 01 Jan 2018 with a 3-year period and we paid the fees on the 22 Jan 2018. No written notice of terminating the contract was received. Seele reserves the right to publish further details/documents.<a href="https://twitter.com/uclcbt?ref_src=twsrc%5Etfw">@uclcbt</a></p>&mdash; Seele

[2018-02-24 02:34] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36624736-1530915e-18c8-11e8-8105-ec48bb8fca63.png)

Off Tigers profile on facebook, there was no Rebeca a few days ago under his friends.  Now a fake facebook profile with the same admins of seele listed under her friends, and only them.  They are aware we know Rebeca is a fraud.

[2018-02-24 04:25] zakharaya commented on #58
@evidence-chain please message me on telegram.  You could be a great help in this investigation.  @leonelas

[2018-02-24 05:03] zakharaya commented on #58
![image](https://user-images.githubusercontent.com/36725852/36625879-04e50da6-18dd-11e8-980b-08f8ca9b5264.png)

[2018-02-24 06:25] zakharaya commented on #58
http://chainted.com/ fake website

[2018-02-25 16:34] psijmons commented on #54
Sp8de has released a new whitepaper (v4) and website that answers several of the above questions.
It is a BVI (British Virgin Islands)-incorporated entity, MVP is expected in Q2 2018, the team has been expanded considerably with 1st class entrepreneurs. The jackpot assignments is a prime example of transparency. In my opinion, the warning sign on this ICO is way over the top and should be removed.

[2018-02-26 03:46] Empresaria opened #72 "Airex.io"
# [Company name](company website)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

## Product
*

[2018-02-26 03:59] CryptoQuantum commented on #12
They are not transparent and there is fuckery going on Clearly. I found the same situation with Hawala who's platform really liked but they have private investment, no pictures or profiled of dev team and wont say who they are, and no msb license. A Reddit user called Quantum_Bubblegum asked serious question which cracked the community and tanked the price from $32 to currently $2. I invested in a

[2018-02-26 04:12] icochecker commented on #72
![airex-parked](https://user-images.githubusercontent.com/32852887/36653127-7b8b3d22-1ab3-11e8-9a99-b0a3b54cbcf3.png)

[code]
# @Empresaria More info needed. Domain name is parked at Namecheap

[2018-02-26 04:16] #68 closed

[2018-02-26 04:33] icochecker opened #73 "Telegram (TON) - Due diligence"
# [Telegram](https://telegram.org/) (TON)

## Founders
- Pavel Valerievich Durov | [Wikipedia](https://en.wikipedia.org/wiki/Pavel_Durov) | [Twitter](https://twitter.com/durov) | [Linkedin](https://www.linkedin.com/in/pavel-durov-80174366/)
- Dr. Nikolai Durov | [Wikipedia](https://en.wikipedia.org/wiki/Nikolai_Durov)

## Developers
- Aliaksei Levin | [Github](https://github.com/levlam): Telegram

[2018-02-26 08:47] icochecker opened #74 "Mainframe - Due diligence"
# [Mainframe](https://mainframe.com/) (MFT)

## Founding Members
- **Mick Hagen** (Founder & CEO) - Sep 2013 - Present | [Linkedin profile](https://www.linkedin.com/in/mickhagen/) | [Github](https://github.com/mickhagen) | [Twitter](https://twitter.com/mickhagen) | [Facebook](http://facebook.com/mickhagen)

- **Ryan Johnson** (Co-founder & CTO) - Sep 2013 - Oct 2017 | [Linkedin profile](https://ww

[2018-02-26 09:16] icochecker opened #75 "NKN - Due Diligence"
# [NKN](https://nkn.org/) (NKN)

## Team
- Yanbo Li (Founder & Core Developer) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/yanbo-li-b478585/) | [Github](https://github.com/dreamfly281)
- Zheng Li (Bruce) (Co-Founder & Strategy & Innovation) - Mar 2018 - Present | [Linkedin](https://www.linkedin.com/in/zbruceli/) | [Github](https://github.com/zbruceli)
- Justin Wang (Co-Fo

[2018-02-26 09:52] icochecker opened #76 "Alchemint - Due diligence"
# [Alchemint](http://alchemint.io/)

## Founding Team
- Zhang Ting (CEO)
- Qi Feng (CTO)
- Zhang Wei (Product Director)
- Steel Chen (Core Development Engineer)
- Lei Geng (Core Development Engineer)
- Joe Wu (Core Development Engineer)

### Project consultant
- Sun Ming
- Professor Wang Yanming
- Chen Yu
- Pauline Xu

[Team Members Introduction & Roadmap.pdf](https://github.com/ico-check/ico-chec

[2018-02-26 10:39] philiparthurmoore commented on #25
Scam or not, seems Binance doesn't mind having them on board. They were just listed today. A shame. I will not be touching this project.

[2018-02-26 11:37] #51 closed

[2018-02-26 15:16] AriuzSS commented on #25
Looks like a total bs. I was just watching binance and doing a research and don't get a hype. How people can by a coin when they don't even have a product. Soundsa like dev team was busy selling ico then working on a project.

[2018-02-26 15:19] ashic commented on #25
As of now, it's dumped 81.60% against BNB, 64.40% against BTC, and a whopping 85.52% against ETH. It's a good thing they didn't do a public sale. Whoever "invested" would be considerably out of pocket.

[2018-02-26 15:24] AriuzSS commented on #73
Just read today some negative news about this project. But i don't see why even Pavel Durov need to scam this project. It is working product. He probably have some ideas where they can improve telegram and make it profitable

[2018-02-27 06:27] AriuzSS commented on #12
I just wanna say thanks to those of you who just showed to us the real purpose of this project. THANK YOU

[2018-02-27 06:43] popldo commented on #71
we are AKASHIC FOUNDATION LTD. in singapore
and blockchain poc is just demo
we want to understand common people

[2018-02-27 13:56] icochecker opened #77 "Nexo - Due diligence"
# [Nexo](https://nexo.io) (NEXO)

## Team
- **Kosta Kantchev** (Managing Partner) - **Month?** 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/kostakantchev/)
[Credissimo](https://www.crunchbase.com/organization/credissimo) | Co-Founder & Board Member - **Month?** 2007 - Present
[Drooble](https://www.crunchbase.com/organization/drooble) | Founding Investor & Board Member - **Month?

[2018-02-27 14:40] easymonth commented on #71
Can you check the team profile is real or not?  The CEO claimed to be ex COO of coinone, is this true?

[2018-02-27 16:05] icochecker opened #78 "Gluon - Due diligence"
# [Gluon](https://www.gluon.com/tokensale/) (GLU)

## Team
- Sameer Misson (Founder & CEO) - Jan 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/sameermisson)
- Hakam Misson (Founder & President) - Jan 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/hakam-misson-ab607167/)
- Narinder Bajwa (Founder & CIO) - May 2015 - Present | [Linkedin profile](https://www.linkedi

[2018-02-27 19:02] DanishAmjadAlvi commented on #58
Searched my name on Google, and came across this discussion. Danish A. Alvi here, I entirely would confirm @evidence-chain regarding the fact of my modest credentials - it is absolutely true that I am **ONLY** a BSc Computer Science at University College London, and **not a senior expert** by any means. I was persuaded by the Themis team to give the project a positive review, and I with all honest

[2018-02-27 19:25] icochecker opened #79 "Block Collider - Due diligence"
# [Block Collider](https://blockcollider.org/)

### [Telegram Dev Chat](https://t.me/blockcollideradvanced)

## Team
- Arjun Raj Jain (Co-founder & Core Developer) - Jul 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/arjunrajjain) | [Github](https://github.com/ArjunRajJain)
- Tomas Korcak (CTO & Core Developer) - Feb 2018 - Present | [Linkedin profile](https://www.linkedin.com/in/

[2018-02-27 20:40] icochecker commented on #58
.

[2018-02-28 07:22] #3 closed

[2018-02-28 10:18] KazanGi commented on #3
IMHO avoid completely this ICO

[2018-02-28 10:56] fccbb opened #80 "Tokenlend - Due diligence"
# [TOKENLEND](https://tokenlend.io/) (TLN)

## Team
IVAN KOVTUN CHIEF OPERATING OFFICER | [Linkedin profile](https://www.linkedin.com/in/ivan-kovtun/)
SERGEI NAIDEN CHIEF EXECUTIVE OFFICER | [Linkedin profile](https://www.linkedin.com/in/sergeinaiden/)
VITALIY RUSSKIH CHIEF TECHNICAL OFFICER | [Linkedin profile](https://www.linkedin.com/in/vitaliy-russkih-9a201b5/)
ALEKSANDR PETROV BLOCKCHAIN ARCH

[2018-02-28 10:59] fccbb commented on #80
certificate of incorporation

![20040913-certif-of-incorp-dtsoft](https://user-images.githubusercontent.com/30546271/36784185-cccf1dbc-1c7e-11e8-934f-0086b74bede2.jpg)

[2018-02-28 13:26] DanishAmjadAlvi commented on #58
@evidence-chain is entirely right when he mentioned that my credentials have been falsely inflated without my consent (and I had been writing numerous times to Themis Network to at least correct my credentials if they won't remove it on my continuous insistence). It is absolutely true that I am **ONLY** a BSc Computer Science at University College London, and **NOT a senior expert** by any means.

[2018-02-28 15:34] icochecker opened #81 "TxHash - Due diligence"
# [TxHash Network](https://txhash.network/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](http://t.me/txhash_community)

### Other site
- [Txhash.com](https://txhash.com/team.html) | [Web Archive 22 May 2018](https://web.archive.org/web/20180228151051/https://txhash.com/)

![txhash-team](https://user-images.githubuserconte

[2018-02-28 16:22] gaia commented on #3
Partnerships being established: https://medium.com/@napoleonx.ai/napoleonx-update-16-02-18-bloomberg-will-list-our-strategies-6c3d72acc582

[2018-02-28 16:22] zakharaya commented on #58
@evidence-chain I received your reply.  Can you please email me at leonelas1989@outlook.com.  Thank you.

[2018-02-28 16:23] zakharaya commented on #58
@evidence-chain people that have been investigating this have been tracking that address.  They have sent ETH to multiple ICO's .  please email me.

[2018-02-28 16:49] zakharaya commented on #58
@evidence-chain you can also message me on telegram.  @leonelas  .  Your help would be amazing.  thanks

[2018-02-28 16:51] DanishAmjadAlvi commented on #58
Feel free to message me on Telegram too, @DanishAAlvi.

[2018-02-28 19:21] rabeyasiddiquiluna opened #82 "XTRADE ICO"
# [Company name](company website)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*

## Product
*

[2018-02-28 19:22] #82 closed

[2018-02-28 20:04] fccbb commented on #81
github is empty

[2018-02-28 20:36] evidence-chain commented on #58
@DanishAmjadAlvi I suggest you can make a formal complaint to UCL.
Dean of Engineering school, Professor Nigel Titchener-Hooker: nigelth@ucl.ac.uk
Head of Computer Science department, Professor John Shawe-Taylor: j.shawe-taylor@ucl.ac.uk
and Professor Philip Treleaven who was Pro-Provost: p.treleaven@ucl.ac.uk

[2018-02-28 20:37] evidence-chain commented on #58
![image](https://user-images.githubusercontent.com/36455211/36811847-1ec89e98-1cc7-11e8-9d57-2e414c48525e.png)

[2018-02-28 20:55] voldemarz commented on #58
@evidence-chain "This is one [ETH address] of Hui Gong's ETH wallet address (from his personal website)"
Where did you get that info from? It was not the same in screenshot you provided. Why was the post deleted?

[2018-02-28 22:50] jayborn commented on #71
@popldo do you have bounty campaign? I'm a community manager

[2018-03-01 00:56] apchir commented on #58
is it just me or does anyone else also feel that some individuals here are really reaching in their efforts to show seele as a scam?

[2018-03-01 09:49] evidence-chain commented on #58
@voldemarz Just because the information is still under investigation. Our team members decide to delete it.

[2018-03-01 15:51] popldo commented on #71
@easymonth yes, we are real team. but someone don't like our project.
I don't know why.
but many people like our project and we want to change and contribute to blockchain.

@jayborn hi, We have no bounty program. so sorry, our cm manager is victori, so talk about her.

[2018-03-01 16:33] LisaAl commented on #58
Agreed @apchir . Although I will not participate in the ico, the tone of the comments page has long started to border on ridiculous.

[2018-03-01 23:45] larin92 commented on #73
I’ve heard it’s a scam. No mentions on official telegram website. And official twitter. And Durov’a twitter.

[2018-03-02 00:30] Jingguo100 commented on #58
@LisaAl What is ridiculous is that Seele claimed to have an agreement with UCL Blockchain Centre, proven to be false. Claimed that Seele co-founder Hui Gong has a PhD and is Dr Hui Gong, also proven false. In fact, nothing that has been said has been disproved. That a former graduate came on here and stated unequivocally that another member of Seele used his research. Your statements are not helpf

[2018-03-02 02:43] popldo commented on #71
our company link is change https://www.linkedin.com/company/13666355
check plz

[2018-03-02 03:33] jayborn commented on #71
okay

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Fri, Mar 2, 2018 at 10:43 AM, Dong-Ok Peter Ryu <notifications@github.com

--

<http://clicktheskypeicon

[2018-03-02 04:31] easymonth commented on #71
@popldo Can you ask your CEO to provide proof that he was COO of Coinone? Like a namecard, picture of him in Coinone office, a picture of him with Coinone staffs, and so on.

[2018-03-02 07:31] icochecker commented on #73
@larin92 Not a scam. See SEC [Form D](https://www.sec.gov/Archives/edgar/data/1729650/000095017218000030/xslFormDX01/primary_doc.xml).

[2018-03-02 10:15] Firexsprit commented on #58
@Jingguo100 Where was the UCL-CBT agreement **proven** to be wrong? They never replied on Twitter to Seele (see post of  zakharaya). As for Seele claiming Hui Gong has a PhD, they explicitly **do not** in recent communications: https://twitter.com/SeeleTech/status/968793680973766656 "Dr. Bi Wei and Gong Hui attended...". I also want to see the FUD cleared. Especially the Telegram scam is shady. Hu

[2018-03-02 12:52] icochecker opened #83 "Irene Energy - Due diligence"
# [Irene Energy](https://irene-crowdsale.com) (TLU)

## Team
- Guillaume Marchand (Founder, energy lead) - Apr 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/guillaume-marchand-bba96176) | [Twitter](https://twitter.com/tokenisteconomy)
- Julien Murésianu (A.I. Lead) - Apr 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/julienmu) | [Twitter](https://twitter.com/juli

[2018-03-02 13:01] LisaAl commented on #58
Yea i'm SO part of Seele @Jingguo100. I am so part of it that I stated very clearly that I am not interested in their ico. But that does not take away the fact that it has been evident for a while to anyone who has a pair of eyes that some people here seem to be moved solely by pettiness and are attempting to smear the personal reputation of some individuals -with whom they evidently have some bee

[2018-03-02 15:00] vanpan1 commented on #71
@easymonth I was reaching out to coinone directly one week ago and got an answer about 24h later:
![coinone](https://user-images.githubusercontent.com/36993939/36905074-a406f08e-1e32-11e8-811f-f5e8e7d2c27b.jpg)

If you need more proof, just go open a support ticket (in english), they are very fast.

Anyway I am a bit worried about the information that Peter was not a team lead or core developer at

[2018-03-02 22:56] jens-christian commented on #58
My spider sense is tingling when I read the Seele white paper.

They claim to have developed a consensus algo (Ch 4) that is far superior to state-of-the-art. They describe the expected attributes but they completely fail to describe the actual algorithm. Sentences such as _"Parallel consensus will be to improve the operating efficiency of asynchronous
systems, give full play to the parallel syste

[2018-03-03 00:33] ico-eagleye commented on #58
It is super ridiculous that, even though there are so many Seele frauds, a few people in this channel still try to protect and defend for Seele. I notice that they are not regular contributors or **seem to have some selfish interest**. Let us run through the facts of the Seele:

1. Telegram admin scam;
2. google doc for whitelist, hardcoding google doc in the source code of the website before the

[2018-03-03 04:19] easymonth commented on #71
I also found an image of his name card from their telegram group.

![image](https://user-images.githubusercontent.com/33213160/36930502-0976d02e-1edd-11e8-8245-7e152dc4cf44.png)

[2018-03-03 11:11] KazanGi commented on #38
last update about Giza scam : Today 3 mars 2018

For 2 days now, from the telegram Giza official,  :
- Giza logo has been removed,
- Group name Giza removed (new name is NAME)
- AND all admins vanished.
- Wallet being drained off

[2018-03-03 13:55] benique commented on #58
We should just follow the money and ask the ICOs where the ETH goes to to cooperate.

The addresses that the scammer transferred money to have to either be his or from people who have more information on him.

[2018-03-03 18:11] kuangli2000 opened #84 "MoneyToken - Background check"
# [MoneyToken](https://moneytoken.com)

## Team
*Here list team members with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address on etherscan*

## Github
*Here put link to company's GitHub*
https://

[2018-03-04 06:23] ymoctavia opened #85 "NKN Check"
# NKN https://nkn.org

## Team
NO Linkedin link provided

## Company
NA

## Smart contract
NA

## Github
https://github.com/NKNetwork

## Product
NA

## Vesting
NA

## Additional info
NA

[2018-03-04 06:24] #85 closed

[2018-03-04 17:16] gmach opened #86 "LocalCoinSwap Background check"
# [LocalCoinSwap](https://www.localcoinswap.com/)

## Team
- Nathan Worsley (Chief Technical Officer)  March 2017 - Present | [LinkedIn profile ](https://www.linkedin.com/in/nathan-worsley-7b3489153)
- Aapeli Vuorinen (Blockchain Developer)  August 2017 - Present | [LinkedIn profile ](https://www.linkedin.com/in/aapelivuorinen)
- Taylor Scheel (Blockchain Developer)  June 2017 - Present | [LinkedI

[2018-03-04 17:55] coinbala opened #87 "Edenchain - Due diligence"
# [Edenchain](http://edenchain.io/) (EDN)

## Web archive
- [Mar 21 2018](https://web.archive.org/web/20180321142248/http://edenchain.io/)
- [25 Apr 2018](https://web.archive.org/web/20180425124645/edenchain.io)

![edenchain-team](https://user-images.githubusercontent.com/32852887/40454161-e8937dd0-5ee7-11e8-8801-57856c7cd660.png)

# Team
###  James Myong-ho Ahn (Founder & CEO) - **Month?** 2017 -

[2018-03-05 01:14] dshrier commented on #64
This post is wildly inaccurate.  I have Endor listed on my LinkedIn, as well as on my personal consulting website VisionaryFuture.com and in several other places.  Sorry, guys, but when you are doing “due diligence” and “fact checking”, please try to actually get the facts right.

[2018-03-05 06:16] icochecker commented on #64
@dshrier Your profile was updated.
Please point out what is **Widely inaccurate**.
Thanks

[2018-03-05 07:15] dshrier commented on #64
*wildly not widely - apple autocorrect made its own contribution

______________________________
David L. Shrier
E: david@VisionaryFuture.com<mailto:david@VisionaryFuture.com>
M: +1 203 832 4215
www.VisionaryFuture.com<http://www.VisionaryFuture.com>

On Mar 5, 2018, at 1:16 AM, icochecker <notifications@github.com<mailto:notifications@github.com>> wrote:

@dshrier<https://github.com/dshrier> Your

[2018-03-05 10:24] dshrier commented on #64
Now it is more accurate.  Thanks.

[2018-03-05 11:21] fccbb commented on #78
Can i have details of any intellectual property which the company has created, registered or applied to register?

•  U.S. Patent Application No. 15/012,070. For: SYSTEM AND METHOD FOR TUNING A VEHICLE ENGINE CONTROL UNIT
•  U.S. Patent Application No. 29/614,997. For: VEHICLE DIAGNOSTICS DEVICE
•  Mark I OBDII Hardware with FCC/CE/E24 certifications for Hardware
•  Mark II OBDII Hardware in Devel

[2018-03-05 11:23] fccbb commented on #78
11.  Can us investors participate in the sale? If yes did you secure Reg-D?

•  Yes, US investors can participate.
•  We are not classified as a security and do not require Regulation D requirements or exemptions, etc. We have legal opinions to this effect and are 100% confident as to our position.
•  Our legal team includes Stoel Rives, LLP and Dellenbach Venture Counsel

[2018-03-06 04:53] ericmeng commented on #12
To be honest, a screenshot is so easy to forge. Though the COO does seem super noob, he said he got hacked instead of the screenshot being forgery which possibly make it real...

[2018-03-06 14:16] fccbb opened #88 "Neurochain - Background check"
# [Neurochain](https://www.neurochaintech.io/) (NCC)

## Team
Frédéric Goujon CEO | [Linkedin](https://www.linkedin.com/in/fredericgoujon/)
Dr. Billal Chouli CTO  | [Linkedin](https://www.linkedin.com/in/dr-billal-chouli-97a64b1a/)

## Founding Team mentioning Neurochain

Bruno Delahaye CMO - Founding Partner | [Linkedin](https://www.linkedin.com/in/delahayebruno/)

## Founding Team Do not mention

[2018-03-06 17:21] fccbb opened #89 "DAV - Background check"
# [DAV Network](https://dav.network/) (DAV)

## Team

Noam Copel CEO and Founder | [Linkedin](https://www.linkedin.com/in/noamcopel/)
Tal Ater CTO and Co-Founder | [Linkedin](https://www.linkedin.com/in/talater/)
John Frazer CCO and Co-Founder | [Linkedin](https://www.linkedin.com/in/jrfrazermba)
Joe Lopardo CMO and Co-Founder | [Linkedin](https://www.linkedin.com/in/joelopardo/)
Shahar Frank R&D

[2018-03-06 20:15] fccbb opened #90 "APPICS - Due diligence"
# [APPICS](https://appics.com) (XAP)

## Team
![appics-team-1](https://user-images.githubusercontent.com/32852887/37235363-54758a0e-23fe-11e8-8fe6-1e74599d3192.png)
![appics-team-2](https://user-images.githubusercontent.com/32852887/37235365-55ef6eb8-23fe-11e8-961c-d45d9e55af1d.png)
![appics-team-3](https://user-images.githubusercontent.com/32852887/37235367-573f97c0-23fe-11e8-8f8f-b9bb2a70e144.pn

[2018-03-06 20:51] icochecker opened #91 "Cardstack - Due diligence"
# [Cardstack](https://cardstack.com) (CARD)

## Team
- Chris Tse (Founding Director) - Apr 2014 - Present | [Linkedin profile](https://www.linkedin.com/in/christophertse/) | [Twitter](https://twitter.com/christse)
- Ed Faulkner (Lead developer) - Aug 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/edwardfaulkner/) | [Github](https://github.com/ef4)
- Hassan Abdel-Rahman (Senior Blo

[2018-03-07 14:11] KazanGi commented on #38
📍First of all many THANKS 👏🙏to Nicolas (Giza investor) for taking from his time to produce
this complete synthesis report about Giza Device scam.

📍People don’t hesitate to post this report everywhere over the net to bring into light this scam and Help crypto investors not to fall into this scam, as Giza might continue with their plan to implement the main ICO in few months.

📌Full report : 👇

❎ h

[2018-03-08 12:26] fccbb commented on #90
1 no vesting coded in the smart contract

2 I add a relevant information about APPICS and the differences with steemit
![screenshot 11](https://user-images.githubusercontent.com/30546271/37150875-bbd276e8-22d3-11e8-9d20-c4b451e0eb3c.png)

3 APPICS is a SMT based APP. Smart Media Token is a steemit inc project not released yet, so APPICS schedule depends on when steemit inc will release SMT which i

[2018-03-09 14:48] frenchtoasters commented on #87
Looks like they have uploaded a video of the offices https://www.facebook.com/edenchainio/videos/1379729972132968/

[2018-03-09 15:21] #49 closed

[2018-03-10 03:10] #72 closed

[2018-03-11 00:36] fccbb commented on #90
I've run mythril on their contract here is the output:

[code]
[Mythril](https://github.com/ConsenSys/mythril) is a security analysis tool for Ethereum smart contracts.

[2018-03-11 08:01] LouisBrunfromIreneEnergy commented on #83
Hi team - if you need more information please contact us at l.brun@irene.energy or g.marchand@irene.energy. Thank you.

[2018-03-11 13:03] #54 closed

[2018-03-12 06:34] lucacotta commented on #77
security token

[2018-03-12 10:24] codepushr commented on #71
Why exactly is vesting over 1 year bad? Binding the team members 2-3 years seems usual to me.

[2018-03-13 04:07] jayborn commented on #71
Hi regarding Bounty what is  victori reddit or telegram or email thanks?

On Mon, Mar 12, 2018 at 6:24 PM, Aleksandar Palic <notifications@github.com>
wrote:

--

<http://clicktheskypeicon.blogspot.com/2017/08/skype.html>
<https://www.odesk.com/users/~0154c2151c362ee197>
<http://ph.linkedin.com/in/jaypeeperdido/>  <https://twitter.com/JayPerds>
Confidentiality & Disclaimer: The information contain

[2018-03-13 10:55] KazanGi commented on #38
Hey people here the last new on Giza SCAM investigation :

Cryptocurrency scammers run off with more than $2 million after ditching their investors journalist Arjun Kharpal from CNBC

https://www.cnbc.com/2018/03/09/cryptocurrency-scammers-of-giza-make-off-with-2-million-after-ico.html

Other articles :

https://www.pymnts.com/news/security-and-risk/2018/scammers-launch-fake-ico-steal-2m-investors

[2018-03-14 00:00] fccbb opened #92 "Freezone one - Background check"
# [Freezone one](https://freezone.one/) FRZ

Registry Domain ID: DD337AAA30640406DBD0CAB9D9EE23D90-NSR
Registrar WHOIS Server: whois.eurodns.com
Registrar URL: whois.eurodns.com
Updated Date: 2017-12-26T15:14:53Z
Creation Date: 2017-12-15T14:32:58Z
Registry Expiry Date: 2018-12-15T14:32:58Z

## Team member who mention Freezone
- Nikolay Batalin - President, co-founder **mention freezone** on [Link

[2018-03-14 23:22] fccbb commented on #92
got sone info on the company:

Certificate of Incorporation
Freeland Invest s.r.o., C 280807 led by the Municipal Court in Prague
Date of creation and registration: 21 August 2017
File number: C 280807 at the Municipal Court in Prague
Company: Freeland Invest s.r.o.

https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=984239&typ=PLATNY

[2018-03-15 23:03] fccbb commented on #90
I ran oyente on their smart contrac here is the output: https://justpaste.it/1ibxo

[code]

[2018-03-17 18:01] kuangli2000 opened #93 "LCCX - Due diligence"
# [LCCX](https://lccx.io/) (LXT)

## Team
## Robert Benwell (Founder & CEO) - Apr 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/robertbenwell/)

### On Linkedin, it says that Robert Benwell is Founder & CEO of LCCX since April 2017. In reality, LCCX LIMITED was incorporated on 29 January 2018.

![bernwell-1](https://user-images.githubusercontent.com/32852887/37560868-46b2f256-2a4

[2018-03-17 19:44] spectrolite opened #94 "Duplicate"
Blockcollider

TEAM update
https://www.linkedin.com/in/iasimpson80/?locale=en_US is now connected to blockcollider

[2018-03-17 19:53] icochecker commented on #94
@spectrolite next time reply on the Blockcollider issue https://github.com/ico-check/ico-check/issues/79
Thanks

[2018-03-17 19:54] #94 closed

[2018-03-17 22:59] fccbb commented on #88
[code]

[2018-03-17 23:39] icochecker commented on #93
@kuangli2000 Issue updated

[2018-03-18 00:35] fccbb commented on #88
Goujon, Chouli and Leporcher wrote a book about blockchain in french:
https://www.amazon.fr/Blockchains-th%C3%A9orie-pratique-lid%C3%A9e-limpl%C3%A9mentation/dp/2409005365/ref=cm_cr_arp_d_product_top?ie=UTF8

A lot of typographic shells.
The construction of some parts is a little disjointed.
Gives the effect of bringing together experts without any one being able to re-read the other, or bring the

[2018-03-18 20:10] fccbb opened #95 "Minerone - Background check"
# [MinerOne](https://minerone.io/)

## Team

![screenshot 18](https://user-images.githubusercontent.com/30546271/37570375-54b2db78-2aef-11e8-9621-4f522d98dee7.png)

Pranas Slušnys CEO and Co-Founder | [Linkedin](https://www.linkedin.com/in/pranas-slusnys/)
Jonas Udris Legal Counsel and Co-Founder | [Linkedin](https://www.linkedin.com/in/jonasudris/) From CFlow
Andrius Miron Product Owner and Co-Fo

[2018-03-19 00:23] fccbb opened #96 "Repux"
# [Repux](https://repux.io)

## Team

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company

### Repux Protocol:
RepuX Limited is an Belize company established in October 2017 with offices in New Horizon Building,
Ground Floor, 3½ Miles Philip S.W. Goldson Highway, Belize City, Belize.
REPUX LIMITED number 169438
https://portal.kyckr.com/AvailableProducts.aspx

[2018-03-19 08:39] Empresaria opened #97 "Soferox"
# [Soferox(ICO website)

## Aaron Mathis Lubbock Texas
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link t

[2018-03-19 08:52] #67 closed

[2018-03-19 19:28] fccbb commented on #96
oyente results on repux smart contract : https://paste.ofcode.org/8df7MnfbxXwTrHL9qbTzdS

[2018-03-19 19:30] #71 closed

[2018-03-21 18:39] icochecker opened #98 "DFINITY - Due Diligence"
# [DFINITY](https://dfinity.org/) (DFN)

# Team
## R&D
- Dominic Williams (Chief Scientist) - Jan 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/thedwilliams) | [Twitter](http://twitter.com/dominic_w) | [Medium](https://medium.com/@dominic_w) | [Github](https://github.com/dominicwilliams) **profile shows that joined Dfinity org on 10 Sep 2016**
- Timo Hanke (Head of Engineering) -

[2018-03-21 23:08] gaia commented on #98
Red Flag https://twitter.com/ICODrops/status/976104225796214786

[2018-03-22 03:30] #52 closed

[2018-03-22 19:41] icochecker opened #99 "PCHAIN - Due Diligence"
# [PChain](https://pchain.org/) (PCH)

## Team
- Feng (Jeff) Cao (Vision & Science) - Feb 2018 - Present | [Linkedin profile](https://www.linkedin.com/in/feng-cao-79364814/)
- Steven Lv (Architecture) | [Linkedin profile](https://www.linkedin.com/in/lv-steven-093a8240/)
- Frank Ma (Blockchain Storage and Optimization) | [Linkedin profile](https://www.linkedin.com/in/zhanfeng-ma-80964728/)
- Kevin

[2018-03-23 01:41] city19akro commented on #27
For some more info on Cypherium, i made a twitter thread a while ago: https://twitter.com/city19akro/status/975342278146428928
I threaded it like shit so more info here:
https://twitter.com/city19akro/status/975367139615035392
https://twitter.com/city19akro/status/975366638672535555
https://twitter.com/Peeeeertje/status/975360100360769537

To recap fully (also stuff that isn't on twitter)

- The t

[2018-03-25 20:36] kuangli2000 commented on #93
Great job, thanks. Can't imagine this company cheating in the UK, where the laws are relatively strict.

[2018-03-25 23:47] fccbb commented on #92
They finnaly gave me a link to a github repo:

https://github.com/FreezoneOne/frz-token

However, I found several issues.

1. The contract doesn't compile. I had to edit it myself and change:

[code]
to

[code]

2. I have tried to verify if the source code given with the smart contract deployed on the blockchain with [Etherscan verify contract](https://etherscan.io/verifyContract2?a=) and it's not

[2018-03-26 16:34] easymonth opened #100 "Duplicate"
Duplicate

[2018-03-26 19:19] icochecker commented on #100
@easymonth Duplicate issue https://github.com/ico-check/ico-check/issues/99

[2018-03-26 19:19] #100 closed

[2018-03-28 22:31] jens-christian commented on #98
With zero prior knowledge of DFINITY I spent this evening reading the “DFINITY White Paper Consensus system” which I consider the core technical paper. I spent 4 hours and here are my immediate thoughts.

Overall this feels like a work of quality. It is evident that a lot of effort and talent has gone into producing this white paper. I can probably answer many of my open question myself with furth

[2018-03-30 10:31] #29 closed

[2018-04-01 12:28] BlockchainInvestment commented on #73
https://steemit.com/scam/@perry.jung/telegram-ico-you-re-invited-to-the-greatest-scam-ico-of-all-time

Telegram ICO is totally Scam. Look at this analysis. Welcome for reply.

[2018-04-01 12:46] icochecker commented on #73
@BlockchainInvestment

Not a scam see SEC Filling:

### [SEC Filling - 29 Mar 2018 - Reported Sold: USD 850M](https://www.sec.gov/Archives/edgar/data/1730853/000095017218000060/xslFormDX01/primary_doc.xml)

### [SEC Filling - 13 Feb 2018 - Reported Sold: USD 850M](https://www.sec.gov/Archives/edgar/data/1729650/000095017218000030/xslFormDX01/primary_doc.xml)

[2018-04-01 23:50] BlockchainInvestment commented on #73
You can see at SEC filing, those filing has not been reviewed by SEC. It's voluntary filing. No body confirmed it yet. I am quite sure SEC filing is one part of scam scheme.

[2018-04-01 23:54] BlockchainInvestment commented on #73
So simple, Pavel Durov denied, all rumored investors also denied. Only media cover this as historical ICO.

[2018-04-02 08:47] fccbb commented on #92
![screenshot 24](https://user-images.githubusercontent.com/30546271/38190117-1cd34772-3663-11e8-89c1-00480b78ff15.png)

![photo_2018-04-02_10-24-09](https://user-images.githubusercontent.com/30546271/38190146-3f87ac2c-3663-11e8-800e-809ceb43a838.jpg)

[2018-04-02 09:01] fccbb commented on #92
they have a vesting coded in the smart contract:

[code]

[2018-04-05 01:36] icochecker opened #101 "BTU Protocol - Due diligence"
# [BTU Protocol](https://www.btu-protocol.com/en/) (BTU)

## Founders
- Vidal Chriqui (Managing Director) - Sep 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/vidal-chriqui/) | [Twitter](https://twitter.com/vidal007) | [Github](https://github.com/appyhour770)
- Hervé Hababou (Hervé Hababou) - Jan 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/hervehababou/)

## Te

[2018-04-05 20:58] kuangli2000 commented on #98
I do not know if I understand correctly? There is no mature product in this crazy company, and the value of ICO will exceed 2 billion U.S. dollars.

https://medium.com/dfinity/announcing-the-dfinity-presale-fundraise-and-public-airdrop-cdea19892ef6

To preserve the foundation’s endowment of tokens for later use, and in pursuit of wider distribution after network launch, DFINITY will restrict the p

[2018-04-08 19:35] kuangli2000 commented on #24
What is the total amount of tokens? I can't find the relevant information.

[2018-04-09 02:16] #58 closed

[2018-04-09 02:29] #77 closed

[2018-04-09 02:30] #56 closed

[2018-04-09 02:55] #64 closed

[2018-04-09 03:01] Empresaria commented on #64
Thank you for the update.  Please accept our apologies.  Simply making your
ICO better and set up for success.

With all due respect,

Cynthia Michele Lara

On Mar 5, 2018 4:25 AM, "dshrier" <notifications@github.com> wrote:

[2018-04-09 03:09] Empresaria commented on #97
Ico claims not an ico but coin in ecosystem

[2018-04-09 03:11] Empresaria opened #102 "continue verification"
# [ICO name](ICO website)

## Team
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contract address o

[2018-04-09 05:01] #102 closed

[2018-04-09 13:19] qubist commented on #24
Hi @kuangli2000, the total amount of tokens won't be known until the ICO ends. This is because tokens are minted as they are sold (unsold tokens never exist). There's more info on our website https://holo.host/ico and you can also join our Telegram: http://t.me/channelholo

[2018-04-09 19:51] icochecker opened #103 "The Tip Token - Due diligence"
# [The Tip Token](https://thetiptoken.io/home/) (TTT)

# ‼️ No proof that the Team members are Real ‼️

![the-tip-token-team](https://user-images.githubusercontent.com/32852887/38517764-48e1842c-3c3b-11e8-8ce8-4c3c6c08be06.png)
## Team
- Nicolas Nups (CEO & Founder) - Jan 2018 - Present | [Linkedin profile](https://www.linkedin.com/in/nicolasnups/)
- Jonathan Teel (CTO & Co-founder) - **Month?** 2

[2018-04-09 23:15] icochecker opened #104 "Akasha - Due diligence"
# [Akasha](https://akasha.world/) (AETH)

## Team
- Mihai Alisie (Founder) - Oct 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/mihaialisie/) | [Twitter](https://twitter.com/mihaialisie) | [Github](https://github.com/MihaiAlisie)
- Roxana Sureanu (CAO) - Oct 2015 - Present | [Linkedin profile](https://www.linkedin.com/in/roxana-adriana-sureanu-13a6b791/)
- Marius Darila (CTO) - Oc

[2018-04-10 00:28] #74 closed

[2018-04-10 07:56] NicolasNups commented on #103
Good morning,

First of all, we would like to thank you for showing interest in our project. We understand that several points are not finalized yet but we have to keep in mind that we are more than 2 weeks away from the private sale and more than 2 months away from the ITO crowdsale.

However, you have raised valid questions I will answer below :

**The Team :**
Regarding the LinkedIn profiles, i

[2018-04-10 10:34] fccbb commented on #92
ico canceled after a week ! :1st_place_medal:

[2018-04-10 10:46] #92 closed

[2018-04-11 07:16] asdfjp commented on #12
apparently the COO was suffering from panic, forget that there is a better lie that someone forged all that, could be a beautiful lie, yet he screwed that up, a lame liar is what he is, such a typical scam.

[2018-04-11 16:41] kuangli2000 opened #105 "UHIVE - Due diligence"
# [UHIVE](https://ico.uhive.io/) (HVE)

# Team 🚩
## ‼️ Muayyad Fahed SHEHADEH (Founder & CEO) - Jan 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/muayyad/)

### ‼️ On Linkedin, it says that *Muayyad SHEHADEH* is Founder of UHIVE since Jan 2016 and that the company was founded in 2015. In reality, UHIVE LIMITED was incorporated on 12 February 2018. ‼️

# 1. Linkedin Profile
![hive

[2018-04-12 20:05] icochecker opened #106 "Orchid Protocol - Due diligence"
# [Orchid Protocol](https://orchidprotocol.com/) (OCT)

## TBU

## Team
- Stephen Francis Bell (Co-founder) - Mar 2017 - Jan 2018 | [Linkedin profile](https://www.linkedin.com/in/stevebell)
- Steven Richard Waterhouse (Co-founder & CEO) - Mar 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/waterhousephd/) | [Email](mailto:stevew@meshlabs.org)
- Brian J. Fox (Co-founder) - Mar 2017

[2018-04-13 18:16] kuangli2000 commented on #105
You are a powerful person. You have helped me. Thank you very much.

[2018-04-14 03:48] icochecker opened #107 "Akash Network - Due diligence"
# [Akash Network](https://akash.network/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/AkashNW)

# Team

![akash-team-new](https://user-images.githubusercontent.com/32852887/39894777-425206b0-54a8-11e8-8704-2f594cf69f54.png)

### Greg Osuri (Founder & CEO) - Mar 2018 - Present | [Linkedin profile](https://www

[2018-04-15 07:09] coinbala commented on #106
The private presale round TOKEN price was 0.03$ USD and the private sale 0.70$

[2018-04-15 08:27] icoDD opened #108 "Menlo One - Due diligence"
# [Menlo One](https://menlo.one/)

## Core Team

- Matthew Nolan (CEO / Engineering) | [Linkedin profile](https://www.linkedin.com/in/buildbuildbuild/) | [Twitter](https://twitter.com/ImMatthewNolan)
- Anthony Martin (CTO) | [Linkedin profile](https://www.linkedin.com/in/admartin/)
- Scott Kraft (CMO) | [Linkedin profile](https://www.linkedin.com/in/scottmkraft)
- Marcie Grambeau (Marketing) | [Li

[2018-04-15 08:28] icoDD commented on #104
No ICO for this project I don't think

[2018-04-15 09:11] Mo-AI-77 commented on #105
Hello

A full disclosure, I’m Muayyad Founder and CEO of UHIVE, I just want to comment on some points
We are Genie9 LTD Company with a global intelligent backup solution called Zoolz Intelligent, been in the market for more that 10+ years with global success, We started working on UHIVE concept in 2015 and was adopted by the R&D department  in in Genie9/Zoolz by 2016, and in Feb / 2018 UHIVE Limit

[2018-04-16 10:58] angryolk commented on #88
ico completed, sold 267958000 tokens. base on their team feedback. unsold tokens will be:
 "The unsold tokens will be locked in the reserve and released progressively. Unlike some did wonder, those tokens and their sale will not be at the benefit of the team. The benefit will help finance NeuroChain if needed. “If” because we expect other financial resources from strategic partnerships and  consul

[2018-04-16 22:12] icochecker opened #109 "Carbon - Due diligence"
# [Carbon](https://www.carbon.money/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://telegram.me/carbon_money)

# Team

### Connor Lin (Co-founder) - Sep 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/connorlin/) | [Twitter](https://twitter.com/C0nn0rLin)
 - [ConsenSys](https://tokenfoundry.com/abou

[2018-04-17 02:26] kuangli2000 opened #110 "DAOstack - Due diligence"
# [DAOstack](https://daostack.io/) (GEN)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/daostackcommunity)

# Team
- Matan Field (CEO & Architect) - Nov 2016 - Present | [Linkedin profile](https://www.linkedin.com/in/matan-field-92a2b396/)
- Adam Levi (CTO & Technology) - Jan 2017 - Present | [Linkedin profile]

[2018-04-17 17:31] joesixpack commented on #97
It's just a Litecoin copy and paste so far.  They only raised $200K in their "successful" ICO last year.  lol

[2018-04-17 17:49] Empresaria commented on #97
Thank you! They r mining for 500.00 now.. I appreciate u

On Apr 17, 2018 12:32 PM, "joesixpack" <notifications@github.com> wrote:

[2018-04-17 18:06] icochecker opened #111 "Ommer - Due diligence"
# [Ommer](https://www.ommer.com) (OMR)

### Edit: 12 Nov 2018 - ICO Postponed
![ommer-postponed](https://user-images.githubusercontent.com/32852887/48354009-85fecb80-e645-11e8-92ac-86f0fb9c580d.png)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/OmmerDotCom)

## Team
- TK Wong (Chairman) | [Linkedin profile](ht

[2018-04-18 08:17] kuangli2000 opened #112 "QuarkChain - Due diligence"
# [QuarkChain](https://quarkchain.io/) (QKC)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/QuarkChainio)

# Development Team

![quarkchain-team](https://user-images.githubusercontent.com/32852887/38967678-7ecc44d8-4388-11e8-9417-5b1dd7b40a51.png)

### Qi Zhou (Founder) - Mar 2018 - Present | [Linkedin profile]

[2018-04-18 09:55] kuangli2000 commented on #111
Too many similar products, this area is too crowded

[2018-04-18 15:45] tors commented on #111
@kuangli2000 Hi! I'm from the Ommer team. We're geographically focused and target HENRY demographic - high earners, not rich yet - individuals. We do not aim to conquer the world but rather we strive to cultivate local trading communities specifically in ASEAN. Our goals include offering the best service and onboarding as many people as we can by making it really easy to acquire and sell cryptocur

[2018-04-18 17:03] easymonth commented on #57
why ico check didnt detect the scam earlier?

[2018-04-18 17:57] icochecker commented on #57
@easymonth Checks were not fully done due to the shortage of time. To complete tag was still on. 😞 :disappointed:

[2018-04-19 15:17] #75 closed

[2018-04-21 20:11] icochecker opened #113 "Solana - Due diligence"
# [Solana](https://solana.io/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/solanaio)

![solana-team](https://user-images.githubusercontent.com/32852887/39085908-466eccba-458a-11e8-96e2-d8a3e306d03a.png)

## Team
- Anatoly Yakovenko (Co-founder & CEO) - Oct 2017 - Present | [Linkedin profile](https://www.link

[2018-04-21 21:43] #88 closed

[2018-04-22 08:24] ymoctavia opened #114 "Sentinel Protocol - Due diligence"
# [Sentinel Protocol](https://sentinelprotocol.io/) (UPP)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/sentinelprotocol)

## Team that recently joined Uppsala Foundation
- Patrick Kim (Founder & CEO) - Feb 2018 - Present | [Linkedin profile](https://www.linkedin.com/in/%ED%98%95%EC%9A%B0-%EA%B9%80-0880b467/)

[2018-04-22 16:35] icochecker commented on #114
@ymoctavia issue updated

[2018-04-26 07:15] Empresaria commented on #105
Is there anyway to get this cleared from this platform? Close the issue..

[2018-04-26 08:01] Mo-AI-77 commented on #105
Hello, We explained everything, how we started, the idea, the development, the team, and we are working on beta now, should be out by October!
www.zoolz.com
http://wiki.zoolz.com/our-clients/
Please let me know if you need more info to show you!!

thank you
-Mo

[2018-04-26 10:14] Empresaria commented on #105
Mo-Al-77 Thank you for your assistance in clearing this up. I have attempted to connect with kuangli2000 to update this information, make adjustments, and close the issue. I will be following up. With all due respect, Cynthia Michele Lara

[2018-04-26 10:38] Mo-AI-77 commented on #105
Thank you so much, please if you need any more info or clarification just
let me know

Have a great day

-Mo

On Thu, Apr 26, 2018 at 11:15 AM, Cynthia Michele Lara!6 <
notifications@github.com> wrote:

--

Muayyad (Mo) Shehadeh , UHIVE

Founder / CEO

Cell : +44 7400842798 | skype: muayyad_f | Linkedin
<http://www.linkedin.com/in/muayyad>
www.uhive.io <https://ico.uhive.io>
www.zoolz.com
UHIVE LI

[2018-04-26 10:43] Empresaria opened #115 "Skycoin - Background check"
# [Skycoin](https://www.skycoin.net/)

## Team
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contra

[2018-04-26 13:01] emreboy commented on #10
I don't see how this project has multiple red flags?

[2018-04-26 19:13] sky2018hao opened #116 "edenchain"
# [ICO name](ICO website)
https://edenchain.io/
## Team
*Here list team members with links to their LinkedIn accounts in here*
James Ahn
CEO, Founde   https://www.linkedin.com/in/james-ahn-b5aa02140/
Jenny Ryoo
Co-Founder,
Blockchain Developer  https://www.linkedin.com/in/jenny-ryoo-017626159/
Hokyun Kim
Blockchain Developer   https://www.linkedin.com/in/hokyun-kim-b292a511/
Brian Park
Blockchain

[2018-04-26 20:07] icochecker commented on #116
@sky2018hao Duplicate see https://github.com/ico-check/ico-check/issues/87

[2018-04-26 20:09] #116 closed

[2018-04-26 21:12] icochecker commented on #105
@Empresaria

The issue will stay open until the end of the Crowdsale. Additional checks are ongoing.

@Mo-AI-77 Thanks for the link to the vesting contract. Team and advisors tokens are locked until 1/4/2020, which is less than 2 years from the start date of the crowdsale. I will update the flags.

[2018-04-26 21:14] icochecker commented on #93
@kuangli2000

The issue will stay open until the end of the Crowdsale. Additional checks are ongoing.

[2018-04-27 09:47] testos77 commented on #93
Office address ist just virtual -> https://yourvirtualofficelondon.co.uk/
Team:

Alice Copilet Lawyer -> https://www.upwork.com/o/profiles/users/_~01fe9b6908c03fcae0/
no real experience in the required field worked at jobs like:
"We need help dealing with the FCA supervision dept " !

Praveen Dagdi not really a crypto expert running a company in India Web/Mobile Design & Development
https://www.go

[2018-04-27 10:43] MrNicodemuz commented on #10
@icochecker I think the "No working product" label does not apply anymore:
https://play.google.com/store/apps/details?id=com.crypterium&hl=en
https://itunes.apple.com/us/app/crypterium-cryptofinance/id1360632912?mt=8

[2018-04-27 13:06] icochecker commented on #10
@emreboy Red flags:
- Short vesting schedule for Team tokens (10 Month).
- Vesting schedule not coded in the smart contract.
- No product during the ICO
- Not Github during the ICO

@MrNicodemuz Labels are for the ICO period. I will add labels and comments for the Post-ICO period

[2018-04-28 08:42] Empresaria commented on #105
Icochecker: Thank you for your directives.kuangli2000 thank you for your due diligence.@Mo-Al-77 Thank you for your contribution and cooperation.

[2018-04-28 12:38] Empresaria opened #117 "Cointal - Background check"
# [Cointal](https://www.cointal.com/page/aboutus)

# [Fraud - Source: reddit](https://www.reddit.com/r/Bitcoin/comments/80s19k/cointal_exchange_is_a_fraud_they_are_being_sued/)

## Mohammed Imad pending..
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
*Here put company information i

[2018-04-28 17:07] #90 closed

[2018-04-28 17:55] icochecker commented on #117
@Empresaria An issue with no information is not very helpful. In the future please give more info before opening an issue. Thanks

[2018-04-28 18:25] Empresaria commented on #117
I apologize I am working on this these issues now.  It will not happen
again.

On Apr 28, 2018 12:55 PM, "icochecker" <notifications@github.com> wrote:

[2018-04-29 21:09] pabx06 commented on #3
LOL. it is like paying a gambler to lose all your money

[2018-05-01 00:07] #104 closed

[2018-05-02 06:11] sky2018hao opened #118 "Duplicate"
Duplicate

[2018-05-02 06:39] icochecker commented on #118
@sky2018hao Duplicate issue https://github.com/ico-check/ico-check/issues/113

[2018-05-02 06:40] #118 closed

[2018-05-02 07:00] sky2018hao commented on #113
Qualcomm employees are likely to be a low-key project and successful

[2018-05-02 15:25] icochecker opened #119 "FTEC - Due diligence"
# [FTEC](https://ftec.io/) (FTEC)

### Web archive for ftec.io
- [27 Mar 2018](https://web.archive.org/web/20180327095514/https://ftec.io/)
- [4 Apr 2018](https://web.archive.org/web/20180327095514/https://ftec.io/)
- [18 Apr 2018](https://web.archive.org/web/20180327095514/https://ftec.io/)

# Whois lookup for FTEC.IO
[code]

# Team

![evgeniy-sidelnikov-ownership-mitridat](https://user-images.gi

[2018-05-02 19:56] FtecFoundation commented on #119
Hello! Thank you for review! So, our CFO Evgeniy Sidelnikov is the Owner of Mitridat LP by the Trust declaration, and documents clearly saying that he is OWNER. I would like to share this document with your team member and change the warning of the review. Please tell me what is the best way to do that.

[2018-05-02 20:07] #66 closed

[2018-05-02 20:08] FtecFoundation commented on #119
Also I would like to ask why you said that we don’t have working product?
If you are speaking about MVP which we have in App Store and Android, then it is just demo, you can check future design , etc
But we also have ready and working product coinbot.club which is one of the biggest part of our future ecosystem FTEC.

[2018-05-02 20:25] FtecFoundation commented on #119
Coinbot.club is ready product and have more than 10 000 active users for now. But if you require decentralised product, than it is not about coinbot.club..we will do FTEC decentralised and coinbot will be part of it, but our product  is centralised for now. So yes, you are right.

[2018-05-03 06:09] sky2018hao commented on #112
https://github.com/QuarkChain   This is empty, without any code. However, this project has always been favored by some top ICO consultants. I am a bit difficult to understand. Can someone tell me why?
![dcoitvqvmae_tdb](https://user-images.githubusercontent.com/38766801/39561949-8898aa70-4edb-11e8-9614-aeb85890951f.jpg)
![dcmqwxdwkaayam2](https://user-images.githubusercontent.com/38766801/39561957

[2018-05-04 12:51] icochecker opened #120 "Hero Node - Due diligence"
# [Hero Node](https://heronode.io/) (HER)

### [![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/joinchat/HbFG2E1a1YIirTXhQfgXHQ) Main group chat

### [![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/HeroNode2) Group chat 2

# ‼️ R

[2018-05-04 14:57] gpliu commented on #120
Haha, May be you can ask me directly.
TG  @gpliu

[2018-05-05 09:25] imivi52 commented on #120
Tried to talk with Gpliu - got ignored.
Also found more public pools with bonus up tp 50%.
![pexels-photo-296881 1](https://user-images.githubusercontent.com/38981684/39661747-5e4f2ca0-505f-11e8-8690-af5a54b86f37.jpeg)
![74](https://user-images.githubusercontent.com/38981684/39661749-650edc2a-505f-11e8-9916-c64d5e92bfbd.png)
![75](https://user-images.githubusercontent.com/38981684/39661750-664acae

[2018-05-05 09:40] imivi52 commented on #120
Bonuses issue solved - difference was with discount/bonus rates. Some pools were "baiting" on bonus size, also pools were counting discount as a bonus rate. So 30% discount is 42.8% bonus

[2018-05-05 13:25] icochecker opened #121 "Harbor - Due diligence"
# [Harbor](https://harbor.com/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/HarborHQ)

## Team
- David Oliver Sacks (Co-Founder & Chairman) - **month?** 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/davidoliversacks/)
- Joshua Stein (CEO & General counsel) - Feb 2018 - Present | [Linkedin p

[2018-05-05 17:40] sky2018hao opened #122 "iagon"
# [ICO name](ICO website)
https://www.iagon.com/
## Team
*Here list team members with links to their LinkedIn accounts in here*
Navjit Dhaliwal  Founder, CEO    https://www.linkedin.com/in/navjit-dhaliwal-a92484b2/
Elad Harison, PhD   Founder, COO   https://www.linkedin.com/in/elad-harison-phd-7637002/
Claudio Lima          Founder, CTO     https://www.linkedin.com/in/crlima10/

### Advisors
*Here

[2018-05-05 20:49] fccbb commented on #99
A link to Andre Conj's review on the cpchain's code : [https://cryptobriefing.com/cpchain-code-review-iot-sidechains/](https://cryptobriefing.com/cpchain-code-review-iot-sidechains/) :+1:

[2018-05-06 11:11] fccbb opened #123 "Emanate - Due diligence"
# [Emanate](https://emanate.live/)

[EmanateOffcial Twitter](https://twitter.com/EmanateOfficial)
[Emanate reddit](https://www.reddit.com/r/announcements/)
[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/emanateofficial)
[Emanate Facebook](https://www.facebook.com/emanateofficial/)
[Emanate Bitcointalk](https://b

[2018-05-06 12:48] #38 closed

[2018-05-06 12:49] #57 closed

[2018-05-06 20:54] martin1551 opened #124 "Safe Haven"
# [Safe Haven](https://safehaven.io)

## Team
*[Jürgen Schouppe (Founder / Security Architect)](https://www.linkedin.com/in/jurgen-schouppe-084368119/)
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly sc

[2018-05-08 01:25] #95 closed

[2018-05-08 01:26] #86 closed

[2018-05-08 01:27] #80 closed

[2018-05-08 01:30] #79 closed

[2018-05-08 01:31] #83 closed

[2018-05-08 01:31] #84 closed

[2018-05-08 01:32] #117 closed

[2018-05-08 01:34] #101 closed

[2018-05-08 01:36] #73 closed

[2018-05-08 01:47] #103 closed

[2018-05-08 01:50] #115 closed

[2018-05-08 17:26] imivi52 commented on #120
Hello! So here is p2 of investigation on Hero node. In previous post I mentioned problems with bonus size, transactions, etc.
So what changed? Nothing. About bonuses – issue was solved, but I still can’t understand how public pool can be a strategic partner and give project any publicity. Anyway GP answer about transactions on HERO-NODE ICO was literally this: “Hero node is my project and I can se

[2018-05-08 17:53] icochecker opened #125 "Bankorus - Due diligence"
# [Bankorus](https://www.bankorus.com/) (BKT)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/bankorus)

## [Whitepaper 1.0.1](https://www.docdroid.net/CdWRVkD/bankorus-whitepaper-101.pdf)

# 🔥 Update 17 May 2018 - The latest statement made by Stephen Kade saying that he is transitioning from CTO of Bankorus to

[2018-05-08 23:13] icochecker opened #126 "TrustToken - Due diligence"
# [TrustToken](https://www.trusttoken.com/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/joinchat/HihkMkTja1gIyBRM1J1_vg)

# 🔥 Update 17 May 2018 - The latest statement made by Stephen Kade in the Bankorus chat saying that he is transitioning from CTO of Bankorus to CTO Advisory contradicts what he previously

[2018-05-09 17:49] sky2018hao commented on #70
This project is about to start ICO. The administrator said that on the 15th, upload code. It feels a certain attraction. Does anyone care about this project?

[2018-05-09 22:57] icochecker commented on #125
🔥 Update 10 May 2018 - Stephen Kade has confirmed that he is not the CTO of Bankorus 🔥

![trusttoken-stephen-kade-update](https://user-images.githubusercontent.com/32852887/39843762-f445099c-53ec-11e8-90ae-113050bef4a0.png)

[2018-05-09 22:58] icochecker commented on #126
🔥 Update 10 May 2018 - Stephen Kade has confirmed that he is not the CTO of Bankorus 🔥

![trusttoken-stephen-kade-update](https://user-images.githubusercontent.com/32852887/39843762-f445099c-53ec-11e8-90ae-113050bef4a0.png)

[2018-05-10 20:08] nalesandro commented on #107
Hi all, I'd like to request a couple changes to this review:
1) Please remove Greg Gopman, he is no longer active with the team
2) We have now filed our 506(c) exemption https://www.sec.gov/Archives/edgar/data/1734871/000173487118000003/xslFormDX01/primary_doc.xml
3) In case you want to add some additional detail to the codified vesting language, I probably answered that question too quickly when

[2018-05-10 22:37] icochecker commented on #107
@nalesandro issue updated

[2018-05-10 23:02] nalesandro commented on #107
Thanks!  Could I get you to update the main page text as well?  ❤️❤️❤️

[2018-05-10 23:33] icochecker commented on #107
@nalesandro comments updated on the main page 🙂

[2018-05-11 03:37] #110 closed

[2018-05-11 06:59] TuanDo67 opened #127 "CERTIK - Due Diligence"
# [CERTIK](https://certik.org) (CTK)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/certikorg)

# Web archive
- [May 11 2018](https://web.archive.org/web/20180511174307/https://certik.org/)
- [Mar 9 2018](https://web.archive.org/web/20180309055627/https://certik.org/)
- [Jan 5 2018](https://web.archive.org/web/

[2018-05-11 11:16] Snake4life commented on #120
lack of transparency, very high risk to invest, be warned!

![11](https://user-images.githubusercontent.com/13849408/39922018-6b3f7592-551d-11e8-962f-16d4948fae8c.PNG)
![22](https://user-images.githubusercontent.com/13849408/39922020-6b58fa94-551d-11e8-97ce-3c5c14147f6f.PNG)

[2018-05-11 11:33] imivi52 commented on #120
They might keep only admin (That happened right after i send this page to GPliu), so now Nuclear Fission might be kicked out (They changed pinned msg)

[2018-05-11 11:36] Snake4life commented on #120
I have seen Nuclear Fission as an Admin some days ago, they might have kicked her because she "leaked" the info about the scam, they try to hide it

[2018-05-11 15:55] NemyaNation commented on #120
Shame because the decentralized fog computing is new. Was excited about this project :(

[2018-05-11 18:21] andynguyen11 opened #128 "Thread Protocol - Due diligence"
Full disclosure, I am the CTO / Co-Founder of Thread Protocol.  I know there are a few lingering items that we need to address, but we are working diligently to get those checked off.  Feel free to reach out to me directly over Telegram (andy_nguyen) or email (andy@threadprotocol.io) if you have any follow up questions.

# [Thread Protocol](https://threadprotocol.io) ICO
## Team
- Chase White (Co-

[2018-05-16 06:49] gpliu commented on #120
I will make everything transparent，I'm GP，also @gpliu directly

[2018-05-16 07:14] gpliu commented on #120
One of our volunteer administrators did a really bad job on the project，I fired her，and announced many times in the group, But still some was scammed. I promised to help them.

[2018-05-16 07:43] smartins commented on #120
Volunteer administrator? Really? You trust someone who you are not paying or compensating to have an admin status and handle sensitive matters? How can projects be raising millions of dollars and be so cheap as to not properly vet and compensate those who help out with the ico?

[2018-05-16 08:13] gpliu commented on #120
This was my fault. At the beginning of the project, I really needed a ‘time difference’ volunteer to help me delete advertisements and other news. When I discovered that she had contacted investors alone, we removed her and broadcast many times. I will still be responsible for this.

[2018-05-16 17:05] Hodlito commented on #125
Hello. Im Hodlito from IcoCheck team. Regarding  Bankorus issue:

1- We analyze the current state of the Bankorus project, and since their smart contract is not deployed and they have no github, that's what we stated. Once they fix those issues (if they ever do) we will update the check.

2- Regarding Stephen Kade, who appears as CTO of Bankorus:

    - As you can see on the github issue screensho

[2018-05-16 18:29] icochecker opened #129 "Mandala - Due diligence"
# [Mandala](https://mandalaex.com) (MDX)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/mandalaex)

![mandala-team](https://user-images.githubusercontent.com/32852887/40083629-14aec298-5895-11e8-9c8f-6fa325edd1fd.png)
# Team
### Nate Flanders (Co-Founder & CEO) - Dec 2017 - Present | [Linkedin profile](https://

[2018-05-19 02:36] jeffreyrufino commented on #127
So is this a scam or not?

[2018-05-19 02:37] jeffreyrufino commented on #120
Did they recover the stolen ETH?

[2018-05-19 08:51] compfp commented on #120
John Patrick does mention Hero Node. From his Linkedin profile:

![image](https://user-images.githubusercontent.com/25405420/40266842-88cb7774-5b52-11e8-920f-07bcacea782c.png)

[2018-05-21 14:56] icochecker opened #130 "Cryptocurve - Due diligence"
# [Cryptocurve](https://cryptocurve.io/)

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/cryptocurve)

# ‼️ Update : 18 Nov 2018 | Company "Stichting CryptoCurve (Dutch foundation)" in CURV SALE TERMS & CONDITIONS and White paper shows no results in the Netherlands company registry. ‼️

![cryptocurve-pooling](ht

[2018-05-22 11:44] JurgenSchouppe commented on #124
Hello,

Can you reopen this case please? don't hesitate to ask questions if needed
kind regards
Jürgen (founder safehaven.io)

[2018-05-22 13:02] icochecker opened #131 "Announcement from the IcoCheck team"
### We are glad to announce that development of the new version of the website [IcoCheck](https://icocheck.io/) 2.0 is about to start.
This new version will improve user experience, as well as add features such as:

- Tags on the main page, to allow users to get more information at a glance

- Short explanations for each item we check, to allow users - especially less experienced ones - to underst

[2018-05-24 14:48] #87 closed

[2018-05-25 02:17] RickBross commented on #108
Awesome! Thanks guys!

[2018-05-25 10:51] Empresaria commented on #131
Thank you!

[2018-05-27 19:51] DasCryptoEngineer commented on #131
Great stuff. Thanks guys for your hard work. It is appreciated!

[2018-05-29 03:15] sky2018hao opened #132 "iov - Due diligence"
# [iov](https://www.iov.one/)

## Team
*Here list team members with links to their LinkedIn accounts in here*
Isabella Dell
Co-founder.
Influential leader in the blockchain industry. Former Chief System Architect, first technical employee at LISK.
https://www.linkedin.com/in/dellisabella/

Karim Ganem
Co-founder.
Award winning entrepreneur with more than 15 years of experience. Published author an

[2018-05-29 13:14] icochecker opened #133 "Neon Exchange (NEX) - Due diligence"
# [Neon Exchange](https://neonexchange.org/) (NEX)

![nex-team](https://user-images.githubusercontent.com/32852887/40585620-7419d84c-61b6-11e8-86b2-d36f12d24963.png)

# Team

## Fabio Cesar Canesin 🇧🇷
### NEX (Co-founder and Developer) - Nov 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/canesin/) | [Github](https://github.com/canesin) | [Twitter](https://twitter.com/canesin) |
 -

[2018-05-30 11:27] #128 closed

[2018-05-30 11:28] #131 closed

[2018-05-30 11:36] #99 closed

[2018-05-31 15:18] #91 closed

[2018-06-01 12:33] jayborn commented on #71
remote.jaypee@gmail.com

[2018-06-01 17:35] Empresaria opened #134 "MEDICOHEALTH.io Background Check + Due Diligence"
# MedicoHealth https://medicohealth.io   not MEDICO or MEDCO HEALTH INS OR MEDICO HEALTH INSURANCE  The logo is almost the same- misleading+ there is no working product or code although they claim it is already in use

very confusing deceptive

Advisors

Boris Simoncic        NO LINKED IN ACCT
Medical Advisor

Philipp Plugmann                               On Linked in states DR DR of business not

[2018-06-02 03:27] zebracrossingblog commented on #99
https://steemit.com/pchain/@bitcoinstartrek/pchain-mvp

[2018-06-02 03:27] zebracrossingblog commented on #99
![image](https://user-images.githubusercontent.com/38685179/40869981-fcf273f4-6657-11e8-92ae-efa805fd52a3.png)

[2018-06-02 09:46] goktugyil commented on #106
@coinbala do you have source for that?

[2018-06-02 10:35] goktugyil commented on #106
Wow.. Thanks.

Do you know whats the minimum entry price for SAFTs? And are you guys purchasing it?

[2018-06-06 01:37] zebracrossingblog commented on #112
https://steemit.com/quarkchain/@bitcoinstartrek/quarkchain-red-flags-we-know-something-you-don-t-know

[2018-06-08 01:29] reedtsutton opened #135 "DataBlockchain - Due Diligence"
# [DataBlockchain](https://www.datablockchain.io/)

## Team
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
Can't find in registry, but mention of the Cayment Islands incorporation [here.](https://www.prnewswire.com/news-releases/datablockchainio-officially-announces-the-release-of-i

[2018-06-08 10:53] Aekraj commented on #105
Why did you closed this issue can i know?

[2018-06-09 19:29] Plutonici commented on #12
Video proof that it is "all about the money"

<div style="width:100%;height:0px;position:relative;padding-bottom:182.759%;"><iframe src="https://streamable.com/s/4pcxp/mqsiof" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>

https://streamable.com/4pcxp

[2018-06-14 20:45] nalesandro commented on #107
Hi there, we updated our terms to lower our hard cap, token price, and discount schedule.  You can get the latest here https://akash.network/terms.pdf/

Could I get you to update the review and main page appropriately?

Many thanks
Nick

[2018-06-15 20:02] #76 closed

[2018-06-15 20:37] icochecker commented on #107
@nalesandro issue and main page comment updated

[2018-06-30 00:52] cryptocheckr opened #136 "HAT.Exchange formerly Hawala.Today - Due Diligence"
# ‼️ Update: Kucoin and IDEX delisted HAT token ‼️

# No ICO but an airdrop instead.

[![telegram-chat](https://user-images.githubusercontent.com/32852887/38760208-611df88a-3f7a-11e8-83bc-ca7ba4076a10.png)](https://t.me/hat_public)

# [HAT.Exchange](https://hat.exchange) (formerly Hawala.Today, HAT)

## Other Website

## [Bynary](http://bynaryinc.com)

![](https://image.ibb.co/hx0m1d/image.png)
![

[2018-07-03 02:42] goktugyil commented on #110
this seams to have real team and company right?

[2018-07-03 02:47] goktugyil opened #137 "Chia Network - Due diligence"
Chia Network
https://chia.net/

[2018-07-03 02:56] goktugyil opened #138 "AERGO background check request"
https://aergo.io

[2018-07-06 14:47] #120 closed

[2018-07-06 14:48] #89 closed

[2018-07-06 14:50] #70 closed

[2018-07-06 14:55] #114 closed

[2018-07-06 15:02] #112 closed

[2018-07-06 15:21] goktugyil opened #139 "Perlin background check request"
https://twitter.com/PerlinNetwork

[2018-07-16 14:27] #129 closed, assigned to nobody

[2018-07-16 14:28] #119 closed

[2018-07-16 14:30] #98 closed

[2018-07-16 17:21] #93 closed

[2018-07-16 20:02] #12 closed

[2018-07-24 06:06] emdavis7 commented on #136
thanks for this

[2018-07-27 16:45] stonesy88 commented on #136
@cryptocheckr @icochecker  Those screenshots are of my personal conversations, I gave permission for them to be posted pubically.

[2018-07-27 18:16] hat-exchange commented on #136
@cryptochecker @icochecker @stonesy88

HAT.Exchange communicated with the page admin and admin agreed to remove private and personal communications w one of our team members. The private chats were conducted in confidence with the expectation of privacy, and we do not grant permission for them to be made public. Private chats do not necessarily reflect the views of HAT.Exchange.

We continue to st

[2018-07-27 20:43] stonesy88 commented on #136
You expect privacy? Given that your company has leaked my personal data on your Telegram and other Telegrams on at least 5 occasions? You have no clue how to conduct business, no understanding or respect of Data Protection laws in jurisdictions which your users reside.

[2018-08-06 23:27] hat-exchange commented on #136
Yash Rachakonda confirms advisorship with HAT.Exchange. @icochecker: Please edit the post accordingly:

https://www.linkedin.com/feed/update/urn:li:activity:6432267187032981504/

[2018-08-06 23:30] hat-exchange commented on #136
Rhys Parry was kind of enough to upload a video confirming his relationship with HAT.Exchange. @icochecker - please update and remove all false and inaccurate claims:

https://www.youtube.com/watch?v=IttjnLRVudU

[2018-08-06 23:55] icochecker commented on #136
@hat-exchange

Regarding Rhys Parry the information was accurate at the time of posting.

I invite you to read the comment again:

[2018-08-07 00:12] hat-exchange commented on #136
@icochecker - sorry, but they both just confirmed either an ongoing relationship (Yash) and a past relationship before moving on (Rhys).  Yash’s LInkedIn now refers to Hat.Exchange, so the section of the review claiming he “does not mention the company” is now demonstrably inaccurate and proven to be false. We are expecting the false claim to be removed.

Secondly, Rhys was an early advisor but mo

[2018-08-07 00:18] hat-exchange commented on #136
@icocheck - let it also be noted, for the record, that one of ICO Check’s admins banned me for unspecified reasons with no warning or opportunity to respond (I am the representative of HAT.Exchange tasked with responding to this issue). We plan to write our own review of ICO Check in an official statement to our large community, and ICO Check will deservedly be receiving a large red tag for “CENSO

[2018-08-07 00:34] cryptocheckr commented on #136
@hat-exchange

Clearly English is not your first language or you're so incredibly daft you don't realize the obvious contradiction in that comment. It was **just** confirmed, the comment is a **demonstrable accurate piece of history**.

Provide said documentation dating back to November, 2017 ( the time the first claim about the MSB was made) and you'll be taken seriously. Until then this inane an

[2018-08-07 00:36] hat-exchange commented on #136
@icochecker - Your Telegram chat admins are perfectly fine with allowing your members to post private information, such as bank accounts, phone numbers, and names and addresses, if the targets are members of the crypto project teams your group has decided to “bash.” Edward IV (anonymous and staying that way!) posted the public LinkedIn profile of the member of your group who has harassed, cyber st

[2018-08-07 00:38] hat-exchange commented on #136
@cryptocheckr - we’re done responding and providing privileged information to this unprofessional, disreputable, hack of a project.

[2018-08-07 00:44] cryptocheckr commented on #136
@hat-exchange

_After_ you posted it, amirite?

Lol, no more pithy word salads as a _"response"_? Or have you run out of words to string together hoping the shear size of it despite the meaningless of the content will convince onlookers? You did get one thing right although presented as a [projection](https://en.wikipedia.org/wiki/Psychological_projection) - HAT is a demonstrably unprofessional, d

[2018-08-07 00:53] icochecker commented on #136
@hat-exchange information that breaks the rules gets deleted. Let me remind you that you doxxed a user in the icocheck group by publicly revealing his identity. I invite you to read the group chat rules once again and kindly ask you to behave properly.

[2018-08-07 01:33] icochecker commented on #136
@hat-exchange Yash Rachakonda is using the past tense by saying that he has been involved as an advisor but is he still involved today? 🤔  [Bynaryinc.com](http://bynaryinc.com) still lists him as an advisor.

![yash-rachakonda-confirms-label](https://user-images.githubusercontent.com/32852887/43748843-7a50c540-99a6-11e8-849a-e5c91f84c130.png)

[2018-08-07 01:49] icochecker commented on #136
Issue is locked until further notice to prevent spam and off topic conversations.

[2018-08-07 02:01] reedtsutton opened #140 "#MetaHash background check request"
# [#MetaHash](https://metahash.org/)

## Team
*Here list team members with links to their LinkedIn accounts in here*

### Advisors
*Here list advisors with links to their LinkedIn accounts in here*

## Company
*Here put company information if company exsits. Also provide links (and possibly screenshots) where it can be verified that company exists*

## Smart contract
*Here put e.g. link to contrac

[2018-08-09 20:09] sammy007 commented on #64
Great review, it's a total scam and could be used as a blueprint for future generations.

[2018-08-19 21:49] icochecker commented on #137
# [Chia Network](https://chia.net/)

# Discussion

[code]

# Team
## Bram Cohen
### Chia Network (Founder & CEO) - Aug 2017 - Present | [Linkedin profile](https://www.linkedin.com/in/cohenbram/) | [Github](https://github.com/bramcohen) | [Twitter](https://twitter.com/bramcohen)
 - [BitTorrent](http://www.bittorrent.com) | Owner - Feb 2001 - Present

### Media reports that Tron acquired BitTorrent

[2018-08-23 10:01] jaggedsoft commented on #127
```Finally, Binance Labs stated that they have already invested in four projects. These are: the cryptocurrency MobileCoin, a high-performance public blockchain by Oasis Labs, verification platform known as Certik, and a crowdfunding platform called Republic.```
https://www.newsbtc.com/2018/06/01/binance-announces-the-formation-of-a-1-billion-blockchain-investment-fund/
Looks like Binance, Ontolog

[2018-09-24 13:09] #81 closed

[2018-10-03 13:07] alphonsoespinoza commented on #136
# Here are the images OP deleted from the first post

### **Images leaked on social networks and publicly available

![screenshot](https://telegra.ph/file/1cb09f9a39ffa9972b7f2.png)

![screenshot](https://telegra.ph/file/4c01f55ece51ba74c7c65.png)

![screenshot](https://telegra.ph/file/ce14e1c086660e6c96988.png)

![screenshot](https://telegra.ph/file/b4f53dd860e09812fc49c.png)

![screenshot](https

[2018-10-24 20:08] #63 closed

[2018-10-28 16:37] yann-gerardi opened #141 "Mt Pelerin background check request"

[2018-11-12 14:32] #108 closed

[2018-11-23 23:15] FR469 opened #142 "JSEcoin background check request"
Edited by admin (removed link): jsecoin.com

[2018-11-24 16:09] icochecker commented on #142
## jsecoin.com blocked by uBlockOrigin (Web Browser Bitcoin Mining)
### Source:
- https://github.com/uBlockOrigin/uAssets/blob/master/filters/resource-abuse.txt
- https://github.com/uBlockOrigin/uAssets/pull/706

[2018-12-06 23:03] sjcnova commented on #106
This information is not correct.

[2018-12-17 08:53] UDCER commented on #75
Have you read their disclaimer though? The NKN FOUNDATION LTD is an EXEMPT "PRIVATE" (AKA Privately Owned) COMPANY LIMITED BY SHARES in Singapore. And in their disclaimer points a-e if you / we participate in their ICO, if they have one already, or buy the nkn token on crypto exchanges, & something goes wrong we nkn token/coin holders have no rights against the owners of the NKN FOUNDATION, or its

[2019-02-04 17:11] icochecker opened #143 "Ian Balina - Background check"
# Ian Balina
- [Github](https://github.com/ibalina) | [Linkedin](https://www.linkedin.com/in/ianbalina) | [Twitter](https://twitter.com/diaryofamademan) | [Instagram](https://www.instagram.com/diaryofamademan/) | [Website - Diary of a made man](https://ianbalina.com/)

#### Github issues referenced: [Nucleus Vision](https://github.com/ico-check/ico-check/issues/25) | [GoNetwork](https://github.com

[2019-02-04 17:16] angryolk opened #144 "Mochimo - Due diligence"
# [Mochimo](https://mochimo.org/)

## Team
*Here list team members with links to their LinkedIn accounts in here*
https://mochimo.org/meet-the-team/

### Advisors
`Jeff Levin-Professional ServicesDevelopment-Program ManageratJuniperNetwork, assists with defining service offerings.`

`Alexei Marchenkov-CEO of Bleximo-provides guidance on Fintech startups, emerging quantum computing technology.`

`S

[2019-02-04 17:30] AcroTiger commented on #144
*Advisors*
[code]

[2019-02-15 14:58] #142 closed

[2019-02-15 15:03] #111 closed

[2019-02-15 15:17] #23 closed

[2019-02-15 15:19] #135 closed

[2019-02-15 15:19] #123 closed

[2019-02-15 15:24] #132 closed

[2019-02-15 15:58] #134 closed

[2019-02-17 09:16] JiraiyaThePervySage commented on #143
Not that I disagree with the info presented above I think it's funny you did due diligence on Balina while there are other projects waiting for DD for months!

[2019-02-17 20:05] Plutonici commented on #143
Kudos to icocheck for another great DD.

@JiraiyaThePervySage  I think it's funny that you complain about what the contributors should do or not. Instead of whining you should probably help out to the community and appreciate freely available information.

[2019-03-07 03:48] #133 closed

[2019-03-07 03:48] #130 closed

[2019-03-07 03:49] #125 closed

[2019-03-07 03:57] #105 closed

[2019-03-07 03:58] #107 closed

[2019-03-07 04:00] #136 closed

[2019-03-07 04:31] #121 closed

[2019-03-07 04:32] #126 closed

[2019-03-07 04:46] #109 closed

[2019-03-07 04:55] #113 closed

[2019-03-07 04:55] #69 closed

[2019-03-07 04:59] #137 closed

[2019-03-24 16:08] sjcnova commented on #106
Team information is not correct. Updated information below.
**Louise Conroy-Callagy (Interim CMO) - Aug 2017 - March 2018 | Linkedin profile**
David Salamon (Researcher) - Aug 2017 - Present | Linkedin profile
**Lauryn Guridi (Chief of Staff) - Aug 2017 - Oct 2018 | Linkedin profile**
**Marit Davey (Investor Relations) - Aug 2017 - Sept 2018 | Linkedin profile**
Brian Vohaska | Linkedin

[2019-03-24 16:12] sjcnova commented on #106
Deleware Entity Search - Office Address NOT correct.
Incorrect address -
Office address:
182 Howard Street #423
San Francisco
California 94105

CORRECT ADDRESS
Orchid Labs, Inc. 1288 Columbus Ave. #122, San Francisco, CA 94133

[2019-03-24 16:12] sjcnova commented on #106
NOT Correct -

The private presale round TOKEN price was 0.03$ USD and the private sale 0.70$
--
Orchid never had a token sale. Please remove.

[2019-04-03 14:35] lucacotta commented on #140
![metahash_hookers_balina](https://user-images.githubusercontent.com/8840964/55487380-48b7cc00-562e-11e9-860a-6dc7fbf5caf7.jpg)

Since someone send this picture, i think is metahash business whit balina and.. ))))

[2020-02-29 22:15] #106 closed

[2020-02-29 22:16] #127 closed

[2020-02-29 22:16] #138 closed

[2020-02-29 22:16] #139 closed

[2020-02-29 22:16] #140 closed

[2020-02-29 22:16] #141 closed

[2020-02-29 22:16] #143 closed

[2020-02-29 22:17] #144 closed